<div class="wholesale_account_links">
  <div id="history_wholesale_orders_path">
    <%= link_to 'My Past Orders', history_wholesale_orders_path %>
  </div>
  <div id="designs.wholesale_orders_path">  
    <%= link_to 'Shop by Design', designs_wholesale_orders_path %>
  </div>  
  <div id="syles_wholesale_orders_path">
    <%= link_to 'Shop by Style', styles_wholesale_orders_path %>
  </div>
  <div id="cart_wholesale_orders_path">
    <%= link_to 'Review Current Order', cart_wholesale_orders_path %>
  </div>
</div>
<div id="wholesale_account_landing_message">
  Thank you for joining the Little Hippie reseller community!  We are excited to be working with you!  Please don't hesitate to reach out if you have any questions.  Our reseller section is still under development, so you may run in to some obstacles, but we're here to help and we welcome your feedback.  
</div>