<div class="category" id="featured_items_banner">
  <% featured_items_banner = Banner.find_by :name => 'Featured Items Banner' %>
  <%= link_to(image_tag(featured_items_banner.image), featured_items_banner.link) if featured_items_banner.andand.image.present? %>
</div>