<div id="wholesale">
  <nav id="wholesale_order_form_tabs">
    <div id="body_styles_tab">Style</div>
    <div id="designs_tab">Design</div>
    <div id="cart_tab">Cart</div>
  </nav>

  <div id="wholesale_cart">
    <%= link_to_function 'update cart', "updateCart();" %>
    <% if current_wholesale_order %>
      <table>
        <%= wholesale_cart_sort_row %>
        <%= render current_wholesale_order.wholesale_items %>
        <%= wholesale_cart_total_row current_wholesale_order %>
      </table>
    <% end %>
  </div>
</div>
