<div id="wholesale">
  <%= wholesale_tab_nav %>

  <div id="wholesale_designs">
    <% @designs.in_groups_of 6 do |designs| %>
      <% designs.compact.each do |design| %>
        <%= render :partial => 'wholesale_orders/design', :locals => {:design => design} %>
      <% end %>
      <% designs.compact.each do |design| %>
        <%= div_for design, :order_area_for do %>
    
        <% end %>
      <% end %>
    <% end %>
  </div>
</div>
