<div>
  Thank you for submitting your order.  We will review it (mostly to ensure that enough inventory is available).
</div>

<div>
  You are welcome to continue adding items to the order.
</div>

<div>
  When your order is approved, your credit card will be charged and fulfillment will begin.
</div>

<div>
  If we need to edit your order to match our available inventory, we'll call you to reconfirm before running the order.
</div>

<div>
  Thank you for your order!
</div>
