<h1>Editing bulletin_pairing</h1>

<%= render 'form' %>

<%= link_to 'move up', move_up_bulletin_pairing_path(@bulletin_pairing), :method => :put %>
<%= link_to 'Show', @bulletin_pairing %> |
<%= link_to image_tag('back_button.gif'), bulletin_pairings_path %>
