<h1>Editing body_style_categorization</h1>

<%= render 'form' %>

<%= link_to 'move up', move_up_body_style_categorization_path(@body_style_categorization), :method => :put %>
<%= link_to 'Show', @body_style_categorization %> |
<%= link_to 'Back', body_style_categorizations_path %>
