
<h2 class="bulletin_title">
  <%= @bulletin.title %>
</h2>

<article class="bulletin_text">
  <div class="facebook_image">
    <%= image_tag(@bulletin.facebook_image_url) if @bulletin.facebook_image_url? %>
  </div>
  <%= Redcarpet::Markdown.new(Redcarpet::Render::HTML,
    :autolink => true, :space_after_headers => true).render(@bulletin.content).html_safe %>
</article>
