<% @inventory_hash.each do |garment_id, inventory_data| %>
  <table>
    <td><%= Garment.find(garment_id).name %>:</td>
    <td>at start: <%= inventory_data[:inventory_at_start] %></td>
    <td>at end: <%= inventory_data[:inventory_at_end] %></td>
  </table>
<% end %>
