<div id="banner_gallery">
  <% @banners.each do |banner| %>
    <div class="banner">
      <%= link_to image_tag(banner.image_url), display_banner_path(banner) %>
      <% if liked_banners.include? banner.id %>
        <%= image_tag(asset_path('purple_heart.png')) %>
      <% else %>
        <%= link_to(image_tag(asset_path('maroon_heart.png'), :title => 'Like this Banner', :class => 'heart'), likes_path(:like => {:favorite_type => 'Banner', :favorite_id => banner.id}), :'data-banner_url' => banner_url(banner), :remote => true, :method => :post, :class => 'right gallery_like banner_like') %>
      <% end %>
      <span class="right like_count banner_like"><%= banner.likes.count %></span>
    </div>
  <% end %>
</div>
