<div id="banner_gallery">
  <% @banners.each do |banner| %>
    <% if banner.image.present? %>
      <% if banner.last_tagged_product %>
        <div class="banner">
          <%= link_to image_tag(banner.image_url, :id => dom_id(banner, :gallery_thumb)), last_tagged_product_for(banner)  %>
        </div>
      <% else %>
        <div class="banner">
          <%= link_to image_tag(banner.image_url(:gallery_thumb)), "##{dom_id(banner, :full_size)}", :class => 'fancybox' %>
        </div>
      <% end %>
      <%= image_tag(banner.image_url, :id => dom_id(banner, :full_size), :class => 'full_banner') %>
    <% end %>
  <% end %>
</div>
