<p>
  <b>Coupon:</b>
  <%= link_to_name @coupon_product.coupon %>
</p>

<p>
  <b>Product:</b>
  <%= link_to_name @coupon_product.product %>
</p>


<%= link_to 'Edit', edit_coupon_product_path(@coupon_product) %>
