<%= render :partial => 'shared/age_group_navigation' %>
  <div class="browse_by_toggle_bg" id="browse_by_toggle_links">
    <%= link_to 'Browse by Style', browse_body_styles_path %>
<br>
    <%= link_to 'Browse by Design', browse_designs_path %>
  </div>
