<p>
  <b>Coupon:</b>
  <%= link_to_name @coupon_design.coupon %>
</p>

<p>
  <b>Design:</b>
  <%= link_to_name @coupon_design.design %>
</p>


<%= link_to 'Edit', edit_coupon_design_path(@coupon_design) %>
