<p>
  Hello <%= @reseller.name %>,
</p>

<p>
  Your new Reseller account on LittleHippie.com has been authorized.  This means that we are ready to take your first order!  Thank you for carefully filling out the registration forms.
</p>

<p>
  Little Hippie is a licensed creator and dealer of Grateful Dead merchandise.  Since 2003 we've been a favorite for our colorful, stylish, original artwork that emblazons the Dead's trademark skulls, skeletons, lightning bolts, Dancing Bears, terrapins and more onto quality shirts, cozy woven blankets, and a popular line of baby clothes.
</p>

<p>
  As an authorized Reseller, you are welcome to carry any and all of our rapidly-expanding product lines.  It is not permissible to undercut our prices, as is specified in our Agreement.
</p>

<p>
  Your minimum order is $300.  In general, we are able to consider special requests of any kind - to inquire please call (707) 291-3095 or email wholesale@littlehippie.com.  If our collaboration is particularly successful, it may be possible to establish a bulk discount for future orders.
</p>

<p>
  Little Hippie offers a version of the world's most recognizable band that is as unique and stimulating as it is fun and beautiful.  Your customers will appreciate the conversations their shirts spark; high art without a high price.  The baby, toddler, and youth sizes also make incredibly popular gifts.  After all - babies don't listen to the Grateful Dead, but one day they will learn!
</p>

<p>
  Little Hippie is grateful to the many small business owners with whom we have collaborated in our first decade of operation.  Making art for the Grateful Dead is an honor - the band's image has shaped the development of so many forms of art that it is impossible to overstate their influence.  While their popularity has always been immense, their 50th anniversary is here to create renewed momentum for the coming decade.
</p>

<p>
  Once again, thank you, and once again, please direct any questions to wholesale@littlehippie.com.
</p>

<p>
  Sincerely,
</p>

<p>
  Little Hippie
</p>
