<p id="notice"><%= notice %></p>

<p>
  <b>Name:</b>
  <%= @referral.name %>
</p>


<%= link_to image_tag('edit_button.gif'), edit_referral_path(@referral) %> |
<%= link_to image_tag('back_button.gif'), referrals_path %>
