<p>
  Exciting news! Someone who loves you has just ordered you a gift from LittleHippie.com. Our warehouse does not have the ability to include gift notes with packages, so we wanted to send your gift note by email.
</p>

<p>
  <%= @customer.name %> says:
</p>

<p>
  <%= @cart.gift_note %>
</p>

<p>
  Your tracking number is <%= @cart.tracking_number %> and it can be tracked at https://www.ups-mi.net/packageid/.
</p>

<p>
  We hope you love it, but if you need to exchange it, please don't hesitate to contact us at customerservice@littlehippie.com.
</p>

<p>
  xo,
</p>

<p>
  Little Hippie LLC
</p>
