<h1>Editing body_style</h1>

<%= render 'form' %>

<%= link_to 'move up in list', move_up_body_style_path(@body_style), :method => :put %>
<%= link_to 'Show', @body_style %> |
<%= link_to 'Back', body_styles_path %>
