var product_href;
<% @sale_product_colors.each do |product_color| %>
  product_href = $('#product_<%= product_color.product_id %> a.related_product_link').attr('href');
  product_href || (product_href = $('.product_color_<%= product_color.id %> .gray_label a').attr('href'));
	$('.product_color_<%= product_color.id %>').prepend('<a class="on_sale" href="' + product_href + '"><%= image_tag asset_path('sale_corner_ribbon.png') %></a>');
<% end %>
