<div class="category_of_products">
  <% @product_colors.each do |product_color| %>
    <%= product_display_box product_color %>
  <% end %>
  <%= clearboth %>
  <%= color_display_box(@color.previous_featured_color.random_product) if @color.previous_featured_color %>
  <div style="display:inline-block; vertical-align: middle;">
    <i>Here are similar colors we have available.</i>
  </div>
  <%= color_display_box(@color.next_featured_color.random_product) if @color.next_featured_color %>
</div>
