<p id="notice"><%= notice %></p>

<p>
  <b>Xml file:</b>
  <%= @inventory_list.xml_file %>
</p>


<%= link_to 'Edit', edit_inventory_list_path(@inventory_list) %> |
<%= link_to 'Back', inventory_lists_path %>
