<heading class="content_page_title">
  <%= @content_page.title %>
</heading>
<%= clearboth %>

<section class="content_page_body">
  <%= Redcarpet::Markdown.new(Redcarpet::Render::HTML,
    :autolink => true, :space_after_headers => true).render(@content_page.content).html_safe %>
</section>
