.product_admin_link_grid {
	display: inline-block;
	height: 70px;
	padding-right: 20px;
	padding-bottom: 70px;

	div {
		font-size: 12px;
	}
}

.input_label {
	padding-left: 5px;
	text-transform: uppercase;
}

.adminbody {
  margin-left: 20px;  


	h1 {
	  font-size: 24px;
	  margin-bottom: 0px;
	  text-transform: uppercase;
	  color: #666;
	  border-bottom: solid 2px #666;
	}

	h2 {
	  font-size: 14px;
	  margin-bottom: 2px;
	  text-transform: uppercase;
	  color: #666;
	  border-bottom: solid 2px #666;
	}
  }
table {
	th, td {
		font-size: 10px;
		text-align: left;
		padding: 5px;
		border: solid 1px #C9C9C9;
			}
}

form.new_product_manager {
	margin-top: 20px;
  label {
 	margin-top: 10px;
  }
}

.admin_signup {
	padding-top: 5px;
	padding-bottom: 5px;	
}

.edit_category_product_feature input {
	width: 45px;
}