.product_admin_link_grid {
  display: inline-block;
  height: 125px;
  padding-right: 10px;
  padding-left: 5px;
  padding-bottom: 40px;
  vertical-align: top;
  border-left: 1px solid #D2D0CE;
  background-color: #fff;

	div {
		font-size: 12px;
	}
}

.admin_header_name {
  padding-right: 20px;
  display: inline;
}
.input_label {
	padding-left: 5px;
	text-transform: uppercase;
}

.adminbody {
  margin-left: 20px;
  text-align: left;


	h1 {
	  font-size: 24px;
	  margin-bottom: 0px;
    padding-bottom: 10px;
	  text-transform: uppercase;
	  color: #666;
	  border-bottom: solid 2px #666;
	}

	h2 {
	  font-size: 14px;
	  margin-bottom: 2px;
	  text-transform: uppercase;
	  color: #666;
	  border-bottom: solid 2px #666;
	}
  }
table {
	th, td {
		font-size: 10px;
		text-align: left;
		padding: 5px;
		border: solid 1px #C9C9C9;
			}
}

form.new_product_manager {
	margin-top: 20px;
  label {
 	margin-top: 10px;
  }
}

.admin_signup {
	padding-top: 5px;
	padding-bottom: 5px;	
}

.edit_category_product_feature input {
	width: 45px;
}

#elements {
  color: #000;
}