.product_admin_link_grid {
	display: inline-block;
	height: 70px;
	padding-right: 20px;
	padding-bottom: 70px;

	div {
		font-size: 12px;
	}
}

h1 {
	font-size: 14px;
}

table {
	th, td {
		font-size: 10px;
		text-align: left;
		padding: 5px;
		border: solid 1px #C9C9C9;
			}
}
