#banner_gallery {
  .banner {
    display: inline-block;
    margin: 20px;
    img {
      border-radius: 3px;
      height: 400px;
    }
    img.heart {
      border: none;
      height: 26px;
      width: 26px;
    }
  }
  img.full_banner {
    display: none;
    height: 400px;
  }
}
