.clearboth {
	clear: both;
}

body {
	font-family: 'BenchNine', 'Arial' cursive;
}

.right {
	float: right;
}

.left {
	float: left;
}

.logout {
	margin-top: -3px;
	margin-left: 3px;
}

.noblock {
	display: inline-block;
}

.left10 {
	margin-left: 10px;
}

.left20 {
	margin-left: 20px;
}

.left30 {
	margin-left: 30px;
}

.left40 {
	margin-left: 40px;
}