.clearboth {
	clear: both;
}

body {
	font-family: 'Helvetica';
}

.right {
	float: right;
}

.left {
	float: left;
}

.logout {
	margin-top: -3px;
	margin-left: 3px;
}

.noblock {
	display: inline-block;
}

.left10 {
	margin-left: 10px;
}

.left20 {
	margin-left: 20px;
}

.left30 {
	margin-left: 30px;
}

.left40 {
	margin-left: 40px;
}

.btn {
  padding: 4px 4px;
  *margin-left: 2px;
  font-size: 12px;
  text-transform: uppercase;
  font-weight: bold;
  line-height: 18px;
  *line-height: 18px;
  color: #666;
}

opportunity {
	display: block;
	margin-bottom: 9px;
	font-size: 18px;
	letter-spacing: .1em;
}