// Place all the styles related to the body_styles controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.body_style_group {
	display: inline-block;
}

.body_style_grid {
	padding: 2px;
}

.customer_view_of_body_style {
	display: inline-block;
	width: 179px;
	height: 201px;
    border: 1px solid #858585;
    border-bottom: 2px solid #858585;
    border-bottom-left-radius: 3px;
	border-bottom-right-radius: 3px;
  	border-radius: 3px;
    margin: 1px;
    margin-top: 3px;
}

.body_style_name {
	background-color: #f4edf9;
	padding: 1px;
	line-height: 18px;
	font-size: 12px;
	border-top: 1px solid #858585;
	height: 18px;	
	
	  a {
	  color: #858585;
	     }
	  a:hover {
	   color: #333;
	}
}