// Place all the styles related to the body_styles controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.body_style_group {
	display: inline-block;
}

.body_style_grid {
	padding: 2px;
}

.customer_view_of_body_style {
	display: inline-block;
	width: 220px;
	height: 277px;
  border-radius: 3px;
  margin-top: 50px;
  margin-left: 10px;
  margin-right: 10px;
  padding-top: 3px;
}

.body_style_name {
  height: 42px;
  padding-left: 4px;
  padding-top: 17px;
  padding-bottom: 4px;
  line-height: 19px;
  text-align: left;
  letter-spacing: .03em;
  font-size: 14px;
  border-top-left-radius: 0px;
  border-top-right-radius: 0px;
  border-bottom-left-radius: 3px;
  border-bottom-right-radius: 3px;
  background-color: #fff;
  font-weight: bold;
  color: #292929;
}