.bulletin_title {
	text-align: left;
	margin-left: 30px;
	padding-bottom: 10px;
	padding-top: 10px;
}

.facebook_image {
	float: left;
	margin-right: 10px;
	border-radius: 3px;
 	border: 1px solid #858585;
 	width: 80px;
}

.bulletin_text {
  font-family: Helvetica;
	text-align: left;
	margin-left: 20px;
}
