// Place all the styles related to the carts controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/



#purchase {
	margin: 6px;
	padding: 7px;
	border: 1px solid black;
	border-radius: 5px;
}

#checkout {
/*	text-align: left;*/
}

#cart {
	border: 2px solid black;
	border-radius: 10px;
}

.item {
	margin: 2px;
	padding: 4px;
	text-align: left;
	font-size: 1.3em;
	
	div {
		display: inline-block;
	}
	
	.image {
		width: 100px;
	}
	
	.name {
		width: 200px;
	}
	
	.size {
		width: 80px;
	}
	
	.color {
		width: 80px;
	}
	
	.quantity {
		input {
			width: 10px;
		}
	}
  
  .quantity_update {
		div {
			display: block;
			font-size: 0.8em;
			border: 1px solid black;
		}
	}
	
	.price {

	}
}

#cart_total {
	margin-left: 80%;
	
	#total_price {
		display: inline-block;
		padding: 5px;
		border: 1px solid black;
	}
}

#billing_address {
	display: inline-block;
	width: 48%;
}

#address_state {
	width: 60px;
	margin-right: 82px;
}

#address_zip {
	width: 60px;
}

.expiration_month {
	width: 50px;
}

.expiration_year {
	width: 50px;
}

.cvc_code {
	width: 50px;
}

#shipping_address {
	display: inline-block;
	width: 48%;
}