// Place all the styles related to the carts controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/


#check_box_tag {
	margin-top: 5px;
}

#purchase {
	width: 175px;
  height: 35px;
  line-height: 36px;
	float: left;
	margin-top: 5px;
	margin-bottom: 10px;
  margin-right: 25px;
	padding: 3px;
	font-size: 16px;
  font-weight: bold;
	border: 2px solid #333333;
	border-radius: 3px;
	text-align: center;
	background-color: #5CDE5C; 

  a: hover {
      font-color: #FFE990;
    }
}

.previous_purchase_links a {
	padding: 6px;
}

#checkout {
/*	text-align: left;*/
}

#cart {
	margin-top: 35px;
	margin-left: 5px;
	margin-right: 5px;
	margin-bottom: 15px;
	border-bottom: 1px solid #858585;
  font-size: 14px;
	letter-spacing: .05em;
	background-color: #fff;

  .item {
  	padding: 2px;
  	text-align: left;
  	margin-top: 2px;
  	margin-bottom: 2px;
	
  	div {
  		display: inline-block;
  		width: 65px;
  		text-align: left;
  	}
	
  	.image {
  		width: 100px;
      height: 100px;
      margin-left: 5px;
  		border-radius: 3px;	
    	box-shadow: 0px 2px 9px 1px rgba(79, 47, 79, 0.1);
    	-moz-box-shadow: 0px 2px 9px 1px rgba(79, 47, 79, 0.1);
    	-webkit-box-shadow: 0px 2px 9px 1px rgba(79, 47, 79, 0.1);
  	}

    .img {
      width: 100%;
      height: auto;
    }
  	.name {
  		width: 400px;
  		margin-left: 10px;
  	}
	
  	.size {
  		width: 150px;
  		text-align: left;

  	}
	
  	.color {
  		width: 150px;
  		text-align: left;
  	}
	
  	.quantity {
  		input {
  			width: 22px;
  			margin-left: 10px;
  			border: 1px solid #858585;
  			border-bottom: 2px solid #858585;
  			border-radius: 3px;
  			padding: 3px;
  			text-align: right;
      	box-shadow: 0px 2px 9px 1px rgba(79, 47, 79, 0.1);
      	-moz-box-shadow: 0px 2px 9px 1px rgba(79, 47, 79, 0.1);
      	-webkit-box-shadow: 0px 2px 9px 1px rgba(79, 47, 79, 0.1);
        background: #fff;
  		}
  	}

  	.out_of_stock_warning {
  	  width: 300px;
  	  padding: 3px;
  	  color: red;
  	}
  
    .quantity_update {
  		div {
  			display: block;
  			width: 60px;
  			padding: 3px;
  			border: 1px solid #858585;
  			border-radius: 3px;
  			margin-top: 5px;
  			text-align: center;
  			font-size: 13px;
  			line-height: 15px;
  			vertical-align: middle;
  			background: #FFF184;
        padding-top: 3px;
        padding-bottom: 6px;
        margin-left: 2px;
      	box-shadow: 0px 2px 9px 1px rgba(79, 47, 79, 0.1);
      	-moz-box-shadow: 0px 2px 9px 1px rgba(79, 47, 79, 0.1);
      	-webkit-box-shadow: 0px 2px 9px 1px rgba(79, 47, 79, 0.1);
        color: #424141;
        font-weight: 600;
  		}
  	}
	
  	.price {
  		width: 65px;
  		text-align: right;
  		margin-right: 22px;
  		margin-left: 15px;
  	}
	
  	.remove {
      width: 11px;
      vertical-align: top;
      margin-top: 37px;
      border: 1px solid #858585;
      padding: 3px 6px 3px 6px;
      border-radius: 3px;
    	box-shadow: 0px 2px 9px 1px rgba(79, 47, 79, 0.1);
    	-moz-box-shadow: 0px 2px 9px 1px rgba(79, 47, 79, 0.1);
    	-webkit-box-shadow: 0px 2px 9px 1px rgba(79, 47, 79, 0.1);
  	}
  }

  .item.out_of_stock {
  	border: 1px solid red;
  }
}

#checkout_options {
  display: inline-block;
  float: left;
  margin-top: 40px;
  text-align: left;
  margin-left: 10px;
}

#sales_tax_state_selector {
  margin-left: 10px;
  line-height: 22px;
  margin-bottom: 5px;
  font-weight: bold;
}

#international_shipping_link {
  margin-left: 10px;
  line-height: 22px;
}

#checkout_calculator {
  display: inline-block;
  float: left;
  margin-top: 20px;
  margin-left: 27px;
  text-align: right;
  width: 300px;
}

#subtotal_title {
  margin-left: -200px;
  display: inline-block; 
  font-weight: 700;
}

#subtotal_display {
  border: 1px solid #858585;
  line-height: 16px;
  border-radius: 3px;
  width: 100px;
	text-align: right;
	margin-left: 5px;
  padding: 4px;
	background: #fff;
  float: right;
  height: 15px;
  margin-bottom: 10px;
  display: inline-block;
}

#discount_amount_title {
  display: inline-block;
}

#discount_amount_display {
  border: 1px solid #858585;
  line-height: 16px;
  border-radius: 3px;
  width: 100px;
	text-align: right;
	margin-left: 4px;
  padding: 4px;
	background: #fff;
  float: right;
  height: 15px;
  margin-bottom: 3px;
  display: inline-block;
}

#shipping_cost {
	float: right;
}

  #shipping_price {
    border: 1px solid #858585;
    line-height: 16px;
    border-radius: 3px;
    width: 100px;
  	text-align: right;
  	margin-left: 4px;
    padding: 4px;
  	background: #fff;
    float: right;
    height: 15px;
    margin-top: 6px;
    display: inline-block;
  }

#connecticut_tax {
  display: inline-block;
  margin-bottom: 5px;
  
  #tax_amount {
    border: 1px solid #858585;
    line-height: 16px;
    border-radius: 3px;
    width: 100px;
  	text-align: right;
  	margin-left: 4px;
    padding: 4px;
  	background: #fff;
    float: right;
    height: 15px;
    margin-bottom: 10px;
    display: inline-block;
  }
}

#cart_total, #cart_total_after_coupon {
	font-size: 18px;
	letter-spacing: .05em;
  font-weight: 700;
  margin-top: 10px;
	
	#total_price, #discounted_total_price {
		display: inline-block;
		padding-right: 5px;
		width: 75px;
		border: 1px solid #858585;
		border-bottom: 2px solid #858585;
		border-radius: 3px;
		text-align: right;
		margin-left: 5px;
    padding: 3px;
		background: #fff;
	}
}

#cart_total_after_coupon {
  display: none;
}

#coupon_entry {
  float: left;
  margin-left: 9px;
  margin-top: 4px;
}

#card_options {
  width: 250px;
	float: right;
  text-align: right;
  padding-right: 20px;
  margin-top: 20px;

  .card_option {
    padding: 1px;
    .last_4_display {
      font-size: 14px;
    }
  }
}

.card_type_image {
	margin-top: -6px;
	margin-left: 7px;
}

#cart_options {
	min-height: 120px;
	font-size: 18px;
	letter-spacing: .1em;
}

#card_type {
	text-align: left;
	text-transform: uppercase;
  font-size: 14px;
	margin-bottom: 7px;
	margin-top: 3px;
	margin-right: 3px;
	margin-left: 2px;
}

#billing_address select, #shipping_address select {
	border: solid 1px #505050;
	background-color: #fff;
	font-size: 16px;
	letter-spacing: .1em;
}

#shipping_address {
	display: inline-block;
	width: 100%;
	text-align: left;
  float: left;
	font-size: 16px;
	letter-spacing: .1em;

	.items_italics {
		text-align: left;
		line-height: 20px;
		margin-top: -27px;
		font-size: 12px;
		letter-spacing: .05em;
    margin-left: 130px;
	}

	h1 {
		text-align: left;
		margin-left: 5px;
    font-size: 18px;
    font-weight: bold;
	}
	
	.optional::-webkit-input-placeholder {
		font-style: italic;
	}
	
	.error {
	  color: red;
	}
}

#shipping_address_company {
  font-style: italic;
}
 
#shipping_address_street2 {
  font-style: italic;
}

#shipping_address_state_id {
  width: 140px;
  margin-right: 152px;
  margin-top: 4px;
}

#shipping_address_zip {
  width: 140px;
}

#shipping_address_country_id {
  width: 317px;
  margin-top: 4px;
  margin-left: 8px;
}

#shipping_address_phone {
  font-style: italic;
}

#save_shipping_address {
  width: 20px;
  height: 20px;
}

label.billing_header {
	text-transform: uppercase;
	margin-bottom: 5px;
  padding-top: 30px;
	font-size: 18px;
  letter-spacing: .05em;
  font-weight: bold;
  margin-left: 4px;
}

label.shipping_header {
	text-transform: uppercase;
	margin-bottom: 5px;
  padding-top: 30px;
	font-size: 18px;
  letter-spacing: .05em;
  font-weight: bold;
  margin-left: 20px;

}

#save_account_details {
	text-align: left;
  margin-left: 50px;
  float: left;
}

.move_to_wishlist {
  background-color: #333;
  margin-top: 2px;
}

#address_zip {
	width: 60px;
}

.expiration_month {
	margin-left: 13px;
	width: 55px;
}

.expiration_year {
	width: 75px;
}

.cvc_code {
	width: 50px;
}

#shipping_method_select {
  float: left;
  margin-left: -220px;
  text-align: left;
  margin-top: 47px;

  label {
    font-size: 14px;
    margin-left: 2px;
    font-weight: bold;
    margin-bottom: 5px;
  }
}
#coupon_title {
  font-size: 14px;
  margin-left: 10px;
  margin-top: 5px;
  font-weight: bold;
}

#shipping_options {
  float: left;
  width: 140px;
  padding-left: 20px;
  text-align: left;
  font-size: 18px;
  letter-spacing: .1em;
  vertical-align: top;
  margin-top: 20px;
}

#shipping_form {
  width: 310px;
  display: inline;
  float: left;
  margin-left: 16px;

	input {
    margin-left: 10px;
    margin-top: 5px;
	  font-size: 16px;
	  letter-spacing: .1em;
    width: 300px;
	}
}

#billing_address {
	display: inline-block;
	width: 100%;
	float: left;
	text-align: left;
	font-size: 18px;
	letter-spacing: .1em;
  margin-left: 16px;

	#same_as_shipping {
	text-transform: uppercase;
	margin-top: -9px;
	margin-bottom: 10px;
  height: 20px;
	}
	
	h1 {
		text-align: left;
		margin-left: 5px;
    font-size: 18px;
    font-weight: bold;
	}
	input {
		font-size: 16px;
    margin-top: 5px;
    margin-left: 10px;
    width: 300px;
		letter-spacing: .1em;
	}
	.optional::-webkit-input-placeholder {
		font-style: italic;
	}
}

#shipping_address_first_name, #shipping_address_last_name, #first_name, #last_name {
	width: 93px;
}

#shipping_address_city, #address_city {
	width: 130px;
}

input#shipping_address_zip, input#address_zip {
	width: 60px;
}

.save_account_details, .advanced_shipping_option {
	display: inline;
  float: left;
  margin-left: 10px;
  margin-top: 5px;
  font-size: 14px;
  letter-spacing: .06em;
}

#sign_mailing_list.label {
  float: left;
  margin-left: 10px;
  font-size: 14px;
  letter-spacing: .06em;
}
.payment-errors {
	color: #C81506;
	font-size: 22px;
	letter-spacing: .1em;
}

#gift_note_displayer, #shipping_instructions_displayer {
	display: inline-block;
	text-align: left;
}

#gift_note_display, #shipping_instructions_display {
	width: 350px;
	min-height: 60px;
	margin-left: 2px;
	margin-top: 5px;
	padding: 2px;
	padding-left: 5px;
	padding-right: 5px;

	  input {
		font-size: 16px;
		letter-spacing: .1em;
	}

}

#referral_question {
  float: left;
  margin-left: 10px;
}

#checkout_header {
  font-size: 36px;
  float: left;
  font-weight: light;
  margin-left: 911px;
  margin-top: 13px;
  letter-spacing: .05em;
  text-transform: uppercase;
}

#cart_column_headers {
  display: inline-block;
  border-bottom: 1px solid #858585;
  width: 100%;
}

#item_header {
  display: inline-block;
  font-weight: bold;
  float: left;
  margin-left: 120px;
}
#size_header {
  display: inline-block;
  font-weight: bold;
  float: left;
  margin-left: 368px;
}

#color_header {
  display: inline-block;
  font-weight: bold;
  float: left;
  margin-left: 124px;
}

#quantity_header {
  display: inline-block;
  font-weight: bold;
  float: left;
  margin-left: 127px;
}

#item_price_header {
  display: inline-block;
  font-weight: bold;
  float: left;
  margin-left: 132px;
}

#cart_instructions {
  margin-left: 10px;
  font-style: italic;
  margin-top: -25px;
  margin-bottom: 10px;
  font-size: 13px;
  color: #4F2F4F;
  font-weight: 600;
}