// Place all the styles related to the categories controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.age_group_nav_background {
  border-top: 1px solid #858585;
	background-color: #4F2F4F;
  text-transform: uppercase;

  a {
  color: #F793F2;
  }
  a:hover {
    font-weight: bold;
    color: #FFF05C;
  }
}

#category_navigation {
  display: inline-block;
  height: 35px;
  text-align: left;
  width: 793px;
  font-size: 25px;
  line-height: 35px;
  width: 790px;


  a.body_styles {
    color: #4F2F4F;
  }

}

#navigation {
  text-transform: uppercase;
  border-top: 1px solid #FFF0F5;
  a {
    padding-right: 10px;
  }
  .dropdown-menu.little-hippie-navigation {
    li {
      a {
        text-align: left;
        padding-left: 2px;
        &:hover {
          background-color: #9F5F9F;
          background-image: none;
          width: 200px;
        }
      }
    }
  }
}
#Babies {
  width: 100px;
}
#Toddlers {
width: 100px;
}
#Youth {
  width: 100px;
}
#Women {
  width: 100px;
}
#Maternity {
  width: 100px;
}
#Men {
  width: 100px;
}
#Blankets {
  width: 100px;
}
#Sale {
  width: 100px;
}
  .dropdown-menu {
    li {
      a {
        &:hover {
          background-color: #4F2F4F;
          background-image: none;
        }
        padding: 0px;
      }
    }
  }

.category_nav {
  border: 1px solid black;
  padding: 1px;
  margin: 4px;
}

.category_of_products {
	#category_left_side {
		float: left;
		width: 559px;
    margin-left: 5px;
    margin-right: 0px;
		#large_wide_feature_box {
			width: 552px;
			height: 399px;
      border-bottom: 2px solid #858585;
      margin-left: 1px;
      margin-top: 3px;
      border-radius: 3px;
		}
	}
	
	#category_right_side {
		float: right;
		width: 371px;
    margin-left: -2px;
    margin-right: 5px;
		#large_square_feature_box {
			width: 363px;
			height: 443px;
      margin-top: 3px;
      margin-left: 1px;
      border: 1px solid #858585;
      border-bottom: 2px solid #858585;
      border-radius: 3px;
		}
	}

  #category_bottom {
    margin-left: 7px;
    width: 928px;
    margin-right: 5px;
  }

  .product {
    display: inline-block;
    border: 1px solid #858585;
    border-radius: 3px;
    margin-right: 3px;
    margin-top: 3px;
    width: 179px;
    height: 219px;

		img {
			height: 178px;
		}
  }
  
  span.like_count {
    position: absolute;
    right: 20px;
    top: 1px;
    font-size: 0.9em;
  }
  
  img.heart {
    width: 19px;
    height: 19px;
    border: none;
    position: absolute;
    right: 2px;
    background: none;
  }
}

.gray_label_for_product {
  height: 36px;
  padding: 1px;
  padding-top: 2px;
  font-size: 16px;
  line-height: 18px;
  border-top: 1px solid #858585;
  border-bottom: 2px solid #858585;
  background: #f4edf9;

  a {
    color: #666;
  }

  a:hover {
    font-weight: none;
    color: #000;
  }
}

