// Place all the styles related to the categories controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

#background-holder {
  .age_group_nav_background {
    margin-top: 26px;
    margin-bottom: 10px;
    display: inline-block;
    float: left;
    padding-right: 15px;

    a {
      color: #292929;
      font-size: 16px;
      padding-bottom: 3px;
      padding-left: 3px;
      padding-right: 18px;
    	border-top-left-radius: 3px;
    	border-top-right-radius: 3px;
    	border-bottom-left-radius: 0px;
    	border-bottom-right-radius: 0px;
    }
    
    a:hover {
      color: #fff;
      background-color: #01b2ba;
      font-size: 16px;
      text-decoration: none;
    }
    
    ul.little-hippie-navigation {
      li {
       
        
        a {
          color: #333;
          font-size: 14px;
          line-height: 22px;
          vertical-align: middle;
          font-weight: bold;
          
       
        }
        
        a:hover {
            color: #fff;
            background-color: #000;
        }
      }
    }
  }
}

#site_logo {
  
  img {
    height: 72px;
    float: left;
    margin-left: 10px;
    margin-top: 5px;
    margin-bottom: 0px;
    padding-right: 20px;
  }
}

#category_navigation {
  display: inline-block;
  width: 100%;
  margin-top: 11px;

  a.body_styles {
    color: #4F2F4F;
  }

}

#navigation {
  a {
    padding-right: 10px;
    padding-left: 10px;
  }
  .dropdown-menu.little-hippie-navigation {
    li {
      a {
        text-align: left;
        padding-left: 2px;
        text-transform: none;
        &:hover {
          background-color: #A849A3;
          background-image: none;
          width: 200px;
          font-weight: normal;
        }
      }
    }
  }
}
#Babies {
  width: 100px;
}
#Toddlers {
width: 100px;
}
#Youth {
  width: 100px;
}
#Women {
  width: 100px;
}
#Maternity {
  width: 100px;
}
#Men {
  width: 100px;
}
#Blankets {
  width: 100px;
}
#Sale {
  width: 100px;
}
  .dropdown-menu {
    li {
      a {
        &:hover {
          background-color: #4F2F4F;
          background-image: none;
        }
        padding: 0px;
      }
    }
  }

.category_nav {
  padding: 1px;
  margin: 4px;
}

.category_of_products {
  margin-top: 0px;
  margin-bottom: 50px;
  padding-left: 0px;
  
	#category_left_side {
		float: left;
    margin-left: 5px;
    margin-right: 0px;
    margin-bottom: 20px;
	}
	
	#category_right_side {
		float: right;
    margin-right: 5px;
	margin-left: 15px;
		#large_square_feature_box {
			width: 705px;
			height: 407px;
      margin-top: 22px;
      margin-left: 89px;
      border-radius: 3px;
    	padding: 5px;
      
		}
	}

  #category_bottom {
    margin-left: 7px;
    margin-right: 5px;
    float: right;

    .product {
      margin-right: 0px;
    }
  }
  
  #large_wide_feature_box {
    width: 760px;
    height: 443px;
    margin-right: 15px;
    margin-top: 15px;
    border-radius: 3px;
    padding: 5px;
    border: 0px;
  }

  .product {
    display: inline-block;
    border-radius: 3px;
    margin-right: 10px;
	  margin-left: 10px;
    margin-top: 23px;
    width: 339px;
    height: 407px;
  	padding: 3px;

		img {
			height: 340px;
		}
  }
  
  span.like_count {
    position: absolute;
    right: 20px;
    top: -35px;
    font-size: 14px;
    margin-right: 4px;
    color: #fff;
  }
  
  img.heart {
    width: 25px;
    height: 25px;
    border: none;
    position: absolute;
    right: 2px;
    background: #01b2ba;
    padding-top: 17px;
    padding-left: 3px;
    padding-right: 3px;
    padding-bottom: 5px;
    margin-right: 1px;
  	border-bottom-left-radius: 10px;
  	border-bottom-right-radius: 3px;
    
  }
}

.gray_label_for_product {
   height: 42px;
   margin-left: 1px;
   padding-left: 4px;
   padding-top: 7px;
   padding-bottom: 4px;
   line-height: 19px;
   text-align: left;
   letter-spacing: .03em;
   background-color: #292929;
   font-size: 14px;  
   border-top-left-radius: 0px;
 	 border-top-right-radius: 0px;
 	 border-bottom-left-radius: 3px;
 	 border-bottom-right-radius: 3px;

  a {
    color: #fff;
  }

  a:hover {
    color: #90DBDE;
    text-decoration: none;
  }
}

.price_label_for_product {
  position: absolute;
  right: 0px;
  padding-right: 7px;
  font-size: 20px;
  opacity: 0.3;
  margin-right: 2px;
  margin-top: 17px;
  color: #fff;
  
  .dollar_sign {
    font-size: 1em;
    vertical-align: middle;
  }
   
}
