// Place all the styles related to the categories controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

#navigation_border {
	background-color: #CBD7F4;
	height: 2px;
	margin-bottom: 3px;
}

.purple_background {
  border-bottom: 2px solid #202020;
	background: #a849a3; /* Old browsers */
  background: -moz-linear-gradient(left,  #a849a3 0%, #c886ce 3%, #c886ce 97%, #a849a3 100%); /* FF3.6+ */
  background: -webkit-gradient(linear, left top, right top, color-stop(0%,#a849a3), color-stop(3%,#c886ce), color-stop(97%,#c886ce), color-stop(100%,#a849a3)); /* Chrome,Safari4+ */
  background: -webkit-linear-gradient(left,  #a849a3 0%,#c886ce 3%,#c886ce 97%,#a849a3 100%); /* Chrome10+,Safari5.1+ */
  background: -o-linear-gradient(left,  #a849a3 0%,#c886ce 3%,#c886ce 97%,#a849a3 100%); /* Opera 11.10+ */
  background: -ms-linear-gradient(left,  #a849a3 0%,#c886ce 3%,#c886ce 97%,#a849a3 100%); /* IE10+ */
  background: linear-gradient(to right,  #a849a3 0%,#c886ce 3%,#c886ce 97%,#a849a3 100%); /* W3C */
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#a849a3', endColorstr='#a849a3',GradientType=1 ); /* IE6-9 */
}

#category_navigation {
  display: inline-block;
  padding-left: 186px;
  text-transform: lowercase;
  text-align: left;
  width: 600px;
  .dropdown-menu {
    li {
      a {
        &:hover {
          background-color: #333;
          background-image: none;
        }
        padding: 0px;
      }
    }
  }
}

.category_nav {
  border: 1px solid black;
  padding: 1px;
  margin: 4px;
}

.category_of_products {
  .product {
    display: inline-block;
    border: 2px solid #202020;
    border-radius: 3px;
    margin-left: 20px;
    margin-top: 15px;
    width: 128px;
    height: 169px;
  }
}

.gray_label_for_product {
  height: 36px;
  padding: 1px;
  alignment: center;
  position: relative;
  top: 105px;
  font-size: 14px;
  line-height: 16px;
  border-top: 2px solid #202020;
  border-bottom: 2px solid #202020;

    background: #c3a3c9; /* Old browsers */
    background: -moz-linear-gradient(left,  #c3a3c9 0%, #f4edf9 3%, #f4edf9 97%, #c3a3c9 100%); /* FF3.6+ */
    background: -webkit-gradient(linear, left top, right top, color-stop(0%,#c3a3c9), color-stop(3%,#f4edf9), color-stop(97%,#f4edf9), color-stop(100%,#c3a3c9)); /* Chrome,Safari4+ */
    background: -webkit-linear-gradient(left,  #c3a3c9 0%,#f4edf9 3%,#f4edf9 97%,#c3a3c9 100%); /* Chrome10+,Safari5.1+ */
    background: -o-linear-gradient(left,  #c3a3c9 0%,#f4edf9 3%,#f4edf9 97%,#c3a3c9 100%); /* Opera 11.10+ */
    background: -ms-linear-gradient(left,  #c3a3c9 0%,#f4edf9 3%,#f4edf9 97%,#c3a3c9 100%); /* IE10+ */
    background: linear-gradient(to right,  #c3a3c9 0%,#f4edf9 3%,#f4edf9 97%,#c3a3c9 100%); /* W3C */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#c3a3c9', endColorstr='#c3a3c9',GradientType=1 ); /* IE6-9 */
      text-transform: lowercase;
      text-color: #FFC578;
      text-align: center;
      z-index: 2;
}