// Place all the styles related to the contacts controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

#new_contact {
	padding: 12px;
	text-align: left;
}

#contact_message {
	width: 260px;
	height: 120px;
}

#message_from_little_hippie {
	float: right;
	padding: 20px;
	width: 50%;
}