// Place all the styles related to the content_pages controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.dropdown {
	display: inline-block;
	width: 80px;
	position: center;
}

.dropdown-menu.little-hippie-navigation {
	min-width: 130px;
	border-radius: 3px;
	border-width: 2px;
	border-color: #303030;
	padding: 0px;
	line-height: 16px;
	position: absolute;
	top: 100%;
    left: 10px;
}

.nav-group {
	min-width: 130px;
	border-radius: 3px;
	border-width: 2px;
	border-color: #303030;
	padding: 0px;
}

.content_page_content_preview {
	max-width: 450px;
}