// Place all the styles related to the content_pages controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.dropdown {
	display: inline-block;
	position: center;
	font-weight: bold;
	letter-spacing: .15em;
	}

.dropdown-menu.little-hippie-navigation {
	border-top-left-radius: 0px;
	border-top-right-radius: 3px;
	border-bottom-left-radius: 3px;
	border-bottom-right-radius: 3px;
	border: 0px;
	position: absolute;
  letter-spacing: .02em;
  margin-top: 0px;
  background-color: #01b2ba;
  text-transform: none;
  padding-top: 5px;
  text-align:left;
}

.nav-group {
	min-width: 130px;
	padding-left: 3px;
}

.content_page_content_preview {
	max-width: 700px;
}

heading.content_page_title {
	font-size: 24px;
	font-weight: bold;
	text-align: left;
	padding-top: 10px;
	padding-left: 25px;
	padding-right: 2px;
	padding-bottom: 2px;
	border-bottom: solid 2px #505050;
	display: inline-block;
	float: left;
	text-transform: uppercase;
	margin-top: 3px;
}

.content_page_children {
	a {
		padding: 5px;
	}
}

.content_page_body {
	letter-spacing: .1em;
	text-align: left;
	padding-left: 25px;
	padding-right: 25px;
	padding-bottom: 15px;
	margin-top: 15px;
  text-align: justify;

  a {
    font-weight: none;
    color: #01b2ba;
  }
  
  a:hover {
    text-decoration: none;
  }
}
