// Place all the styles related to the content_pages controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.dropdown {
	display: inline-block;
	position: center;
	padding-left: 12x;
	padding-right: 14px;
	font-weight: bold;
	letter-spacing: .15em;
	}

.dropdown-menu.little-hippie-navigation {
//  min-width: 960px;
	border-top-left-radius: 0px;
	border-top-right-radius: 0px;
	border-bottom-left-radius: 3px;
	border-bottom-right-radius: 3px;
	border-top: 0px;
	border-width: 2px;
	border-color: #A849A3;
	padding: 2px;
	line-height: 16px;
	position: absolute;
  left: 2px;
  letter-spacing: .1em;
  margin-top: -1px;
  background-color: #FDFEF9;
  text-transform: none;
  padding-top: 10px;
  padding-left: 3px;
  
  a {
    font-size: 16px;
  }
}

.nav-group {
	min-width: 130px;
	border-radius: 3px;
	border-width: 2px;
	border-color: #303030;
	padding: 0px;
}

.content_page_content_preview {
	max-width: 450px;
}

heading.content_page_title {
	font-size: 24px;
	font-weight: bold;
	text-align: left;
	padding-top: 10px;
	padding-left: 25px;
	padding-right: 2px;
	padding-bottom: 2px;
	border-bottom: solid 2px #505050;
	display: inline-block;
	float: left;
	text-transform: uppercase;
	margin-top: 3px;
}

.content_page_children {
	a {
		padding: 5px;
	}
}

.content_page_body {
	font-size: 14px;
	letter-spacing: .1em;
	text-align: left;
	padding-left: 25px;
	padding-right: 25px;
	padding-bottom: 15px;
	margin-top: 15px;
}
