heading.customer_since {
	font-size: 14px;
	text-align: left;
	margin-top: -14px;
	padding-bottom: 2px;
	padding-left: 25px;
	display: inline-block;
	float: left;
	color: #858585;
}

heading.customer_name {
	font-size: 18px;
	text-align: left;
	margin-top: 13px;
  margin-bottom: 10px;
	padding-left: 25px;
	padding-right: 3px;
	padding-bottom: 2px;
	padding-top: 2px;
	border-bottom: solid 1px #505050;
	display: inline-block;
	float: left;
}

heading.customer_feedback_header {
	font-size: 18px;
	text-align: right;
	margin-top: -57px;
	padding-right: 275px;
	padding-bottom: 2px;
	border-bottom: solid 1px #505050;
	display: inline-block;
	float: right;
}

.talk_to_us {
	padding-left: 5px;
	text-transform: uppercase;
	font-size: 16px;
  margin-right: 5px;
}

.customer_feedback_text {
	width: 466px;
	font-size: 14px;
	color: #505050;
}

section.customer_feedback {
	float: right;
	text-align: right;
	padding-right: 15px;
	padding-top: 15px;
	border: 1 px solid #505050;
	border-radius: 3px;
	margin-top: -63px;
}

#background-holder {
  heading.customer_wish_list {
  	display: inline-block;
  	float: left;
  	padding-left: 25px;
  	font-size: 18px;
  	padding-top: 10px;
  	padding-bottom: 2px;
  	text-transform: uppercase;
    font-weight: bold;
    a {
      font-size: 18px;
      color: #292929;
    }
    a:hover {
      color: #000;
      text-decoration: none;
    }
  }
}

#background-holder {
  section.wishlist {
  	padding-left: 20px;
  	text-align: left;
    padding-bottom: 100px;
  
    item {
      display: block;
      position: relative;
      margin-bottom: 5px;
      
      .move_to_cart {
        position: absolute;
        top: 40px;
        right: 200px;
        font-size: 20px;
        font-style: bold;
        border: 1px solid #858585;
        border-radius: 3px;
        background-color: #5CDE5C;
        padding: 4px;
        color: #333;
      }
    
      img {
        border: 1px solid #858585;
        border-radius: 3px;
      }
    }
  }
}

heading.customer_address_header {
	display: inline-block;
	float: left;
	padding-left: 25px;
	font-size: 18px;
	padding-top: 10px;
	padding-bottom: 2px;
	text-transform: uppercase;
  font-weight: bold;
  color: #292929;
}

section.customer_shipping_address {
	float: left;
	text-align: leftt;
	font-size: 16px;
	padding-left: 25px;
	margin-top: -15px;
  padding-bottom: 100px;

	a {
	  font-weight: bold;
	}
	
	a:hover {
	  font-weight: bold;
	  color: #01b2ba;
    text-decoration: none;
	}
}

heading.customer_payments_header {
  display: inline-block;
	float: left;
	padding-left: 25px;
	font-size: 18px;
	padding-top: 10px;
	padding-bottom: 2px;
	text-transform: uppercase;
  font-weight: bold;
  color: #292929;
}

section.customer_payment_methods {
	float: left;
	text-align: left;
	font-size: 16px;
	padding-left: 25px;
	margin-top: -15px;
  padding-bottom: 100px;

	a {
	  font-weight: bold;
	}
	
	a:hover {
	  font-weight: bold;
	  color: #01b2ba;
    text-decoration: none;
	}
}

heading.customer_past_orders {
	display: inline-block;
	float: left;
	padding-left: 25px;
	font-size: 18px;
	padding-top: 10px;
	padding-bottom: 2px;
	text-transform: uppercase;
  font-weight: bold;
  color: #292929;
}


section.customer_cart_items {
	float: left;
	text-align: left;
	font-size: 16px;
	padding-left: 25px;
	margin-top: -15px;
  padding-bottom: 100px;

	a {
	  font-weight: bold;
	}
	
	a:hover {
	  font-weight: bold;
	  color: #01b2ba;
    text-decoration: none;
	}

}

heading.customer_suggested_items {
	display: inline-block;
	float: left;
	padding-left: 25px;
	font-size: 18px;
	padding-bottom: 2px;
	text-transform: uppercase;
  font-weight: bold;
	margin-top: -28px;
  font-weight: bold;
  color: #292929;
}
 
section.customer_recommended_products {
	font-size: 16px;
	padding-right: 1px;
	padding-left: 1px;
	display: inline-block;
	margin-top: -15px;
  padding-bottom: 100px;
  height: 225px;

}

.customer_recommended_products_image {
	height: 220px;
	width: 220px;
	border-radius: 3px;
	margin: 10px;
  margin-top: 40px;
}

.forgot_password {
	text-transform: uppercase;
	font-weight: bold;
	font-size: 22px;
	margin-top: 20px;
	margin-bottom: 5px;
}

#sign_in_form {
  width: 275px;
  height: 250px;
  margin-top: 50px;
  margin-left: 25px;
}