heading.customer_since {
	font-size: 14px;
	text-transform: uppercase;
	font-weight: bold;
	text-align: left;
	margin-top: -18px;
	padding-bottom: 2px;
	padding-left: 25px;
	display: inline-block;
	float: left;
	color: #9F5F9F;
}

heading.customer_name {
	font-size: 18px;
	text-align: left;
	margin-top: 10px;
	padding-left: 25px;
	padding-right: 3px;
	padding-bottom: 2px;
	padding-top: 2px;
	border-bottom: solid 2px #505050;
	border-top: solid 2px #505050;
	border-right: solid 2px #505050;
	display: inline-block;
	float: left;
	text-transform: uppercase;
	background: #FFF0F5; 
}
heading.customer_feedback_header {
	font-size: 18px;
	text-align: right;
	margin-top: -57px;
	padding-right: 275px;
	padding-bottom: 2px;
	border-bottom: solid 2px #505050;
	display: inline-block;
	float: right;
	text-transform: uppercase;
}

.talk_to_us {
	padding-left: 5px;
	text-transform: uppercase;
	font-size: 16px;
}

.customer_feedback_text {
	width: 400px;
	font-size: 14px;
	color: #505050;
}

section.customer_feedback {
	float: right;
	text-align: right;
	padding-right: 15px;
	padding-top: 15px;
	border: 1 px solid #505050;
	border-radius: 3px;
	margin-top: -63px;
}

#background-holder {
  heading.customer_wish_list {
  	display: inline-block;
  	float: left;
  	padding-left: 25px;
  	font-size: 18px;
  	padding-top: 10px;
  	padding-bottom: 2px;
  	text-transform: uppercase;
    a {
      font-size: 18px;
      color: black;
    }
  }
}

#background-holder {
  section.wishlist {
  	padding-left: 20px;
  	text-align: left;
  
    item {
      display: block;
      position: relative;
      margin-bottom: 5px;
      
      .move_to_cart {
        position: absolute;
        top: 40px;
        right: 200px;
        font-size: 20px;
        font-style: bold;
        border: 1px solid #858585;
        border-radius: 3px;
        background-color: #5CDE5C;
        padding: 4px;
        color: #333;
      }
    
      img {
        border: 1px solid #858585;
        border-radius: 3px;
      }
    }
  }
}

heading.customer_address_header {
	display: inline-block;
	float: left;
	padding-left: 25px;
	font-size: 18px;
	padding-top: 10px;
	padding-bottom: 2px;
	text-transform: uppercase;
}

section.customer_shipping_address {
	float: right;
	text-align: right;
	font-size: 16px;
	padding-right: 25px;
	margin-top: -15px;

	a {
	  font-weight: bold;
	}
	
	a:hover {
	  font-weight: bold;
	  color: #9F5F9F;
	}
}

heading.customer_payments_header {
  display: inline-block;
	float: left;
	padding-left: 25px;
	font-size: 18px;
	padding-top: 10px;
	padding-bottom: 2px;
	text-transform: uppercase;
}

section.customer_payment_methods {
	float: right;
	text-align: right;
	font-size: 16px;
	padding-right: 25px;
	margin-top: -15px;

	a {
	  font-weight: bold;
	}
	
	a:hover {
	  font-weight: bold;
	  color: #9F5F9F;
	}
}

heading.customer_past_orders {
	display: inline-block;
	float: left;
	padding-left: 25px;
	font-size: 18px;
	padding-top: 10px;
	padding-bottom: 2px;
	text-transform: uppercase;
}


section.customer_cart_items {
	float: right;
	text-align: right;
	font-size: 16px;
	padding-right: 25px;
	margin-top: -15px;

	a {
	  font-weight: bold;
	}
	
	a:hover {
	  font-weight: bold;
	  color: #9F5F9F;
	}

}

heading.customer_suggested_items {
	display: inline-block;
	float: left;
	padding-left: 25px;
	font-size: 18px;
	padding-bottom: 2px;
	text-transform: uppercase;
	margin-top: -28px;
}
 
section.customer_recommended_products {
	float: center;
	font-size: 16px;
	padding-right: 1px;
	padding-left: 1px;
	display: inline-block;
	margin-top: -15px;

}

.customer_recommended_products_image {
	height: 99px;
	width: 99px;
	border: 1px solid #858585;
	border-radius: 3px;
	padding: 1px;
}

.forgot_password {
	text-transform: uppercase;
	font-weight: bold;
	font-size: 22px;
	margin-top: 20px;
	margin-bottom: 5px;
}

#sign_in_form {
  width: 275px;
  height: 250px;
  margin-top: 50px;
  margin-left: 25px;
}