// Place all the styles related to the designs controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

#center-container {
	.design {
		float: left;
		margin-left: 10px;
		margin-top: 15px;
		margin-bottom: 1px;
		width: 200px;
		border: 1px solid #858585;
		border-radius: 3px;
		img {
			width: 200px;
		}
	}
	
#center-container .design img {
	width: 110px;
	margin: 15px;
	}

	.design.featured {
		float: right;
		margin-top: 15px;
		margin-right: 20px;
		width: 260px;
		height: 280px;

		img {
			width: 200px;
		}
	}
}

.products_with_design {
	.product {
	  display: inline-block;
	  border: 1px solid #858585;
	  border-radius: 3px;
	  margin-right: 3px;
	  margin-top: 3px;
	  width: 148px;
	  height: 189px;

		img {
			height: 128px;
		}
	}
}
