// Place all the styles related to the designs controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

#center-container {
	.design {
		float: left;
		margin-left: 3px;
		margin-top: 15px;
		margin-bottom: 1px;
		width: 179px;
		border: 1px solid #858585;
		border-radius: 3px;
		img {
			width: 200px;
		}
    
    .label_for_design {
      font-size: 12px;
      background-color: #f4edf9;
      border-top: 1px solid #858585;

      a {
      color: #858585;
      }
      a:hover {
      color: #333;
      }
    }
	}
	
#center-container .design img {
	width: 110px;
	margin: 15px;
	}

	.design.featured {
		float: right;
		margin-top: 14px;
		margin-right: 5px;
		width: 378px;
		height: 412px;

		img.art {
			width: 378px;
		}
	}
}

.products_with_design {
	.product {
	  display: inline-block;
	  border: 1px solid #858585;
	  border-radius: 3px;
	  margin-right: 3px;
	  margin-top: 3px;
	  width: 148px;
	  height: 189px;

		img {
			height: 148px;
		}
	}
	
	span.like_count {
    position: absolute;
    right: 20px;
    top: 1px;
    font-size: 13px;
    margin-right: 2px;
  }
  
  img.heart {
    width: 19px;
    height: 19px;
    border: none;
    position: absolute;
    right: 2px;
    background: none;
  }
}

#designs {
	span.like_count {
    position: absolute;
    right: 20px;
    top: 1px;
    font-size: 0.9em;
    color: #555;
  }
  
  img.heart {
    width: 19px;
    height: 19px;
    border: none;
    position: absolute;
    right: 2px;
    background: none;
  }  
}
