// Place all the styles related to the designs controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

#designs {
  padding-left: 20px;
}

#center-container {
	.design {
    display: inline-block;
    border-radius: 3px;
    margin-right: 10px;
    margin-left: 10px;
    margin-top: 23px;
    width: 339px;
    height: 390px;
    padding: 3px;
    
		img {
			width: 335px;
		}
    
    .label_for_design {
        height: 34px;
        padding: 1px;
        padding-left: 4px;
        padding-top: 12px;
        font-size: 11px;
        line-height: 18px;
        background: #f4edf9;
        text-align: left;
        margin-top: 7px;
        letter-spacing: .03em;

      a {
      color: #858585;
      }
      a:hover {
      color: #333;
      }
    }
	}
  
  .design_list.similar_item {
    img {
      width: 128px;
    }
  }
	
#center-container .design img {
	width: 110px;
	margin: 15px;
	}

	.design.featured {
		float: right;
		margin-top: 3px;
		margin-right: 5px;
		width: 378px;
		height: 403px;
		font-size: 12px;
		color: #858585;

		img.art {
			width: 378px;
		}
	}

	.label_featured_design {
		border-top: 1px solid #858585;
		background-color: #f4edf9;
		line-height: 18px;
		margin-top: 6px;
		height: 18px;
	}
}

.products_with_design {
	.product {
    display: inline-block;
    border-radius: 3px;
    margin-right: 10px;
	  margin-left: 10px;
    margin-top: 23px;
    width: 339px;
    height: 407px;
  	padding: 3px;

		img {
			height: 340px;
		}
	}
	
  .stack {
    margin: 13px;
  }
  
	span.like_count {
    position: absolute;
    margin-top: 0px;
    margin-right: 3px;
    right: 20px;
    top: 1px;
    font-size: 13px;
  }
  
  img.heart {
    width: 19px;
    height: 19px;
    border: none;
    position: absolute;
    right: 2px;
    background: none;

  }
}

#designs {
	span.like_count {
    position: absolute;
    right: 20px;
    top: 1px;
    font-size: 13px;
    color: #555;
    padding-right: 2px;
  }
  
  img.heart {
    width: 19px;
    height: 19px;
    border: none;
    position: absolute;
    right: 2px;
    background: none;
  }  
}

.products_with_design {
  .design_display {
    text-align: center;
  
    .design_title {
      display: inline-block;
      font-size: 3em;
    }
  
    img.heart {
      position: static;
    }
  }
}
