// Place all the styles related to the inventories controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

#customer {
//  width: 1426px;
	margin-top: -10px;
	padding-top: 10px;
//  background-image: url('splatterBG.jpg');
}

#background-holder {
	text-align: left;

	a {
		text-decoration: none;
		font-size: 14px;
		color: #858585;	
		}
	a:hover {
		color: #333;
	}
}

#middle_caption_line1 {
	color: #4F2F4F;
	font-size: 12px;
	letter-spacing: .15em;

}
#filtered_navigation {
  text-align: left;
  padding-bottom: 3px;
}

#filtered_navigation_title {
  position: absolute;
  z-index: 3;
	text-transform: uppercase;
	letter-spacing: .1em;
	font-weight: semi-bold;
  background-color: #FFF184;
  padding: 8px;
  border-bottom-right-radius: 3px;
  box-shadow: 0px 2px 9px 1px rgba(79, 47, 79, 0.1);
    -moz-box-shadow: 0px 2px 9px 1px rgba(79, 47, 79, 0.1);
    -webkit-box-shadow: 0px 2px 9px 1px rgba(79, 47, 79, 0.1);
  text-transform: none;
  font-size: 24px;
  padding-left: 20px;
  margin-left: -20px;
}

.filter_criterion {
	label {
		padding-left: 5px;
     width: 85%;
	}
  label:hover {
      background-color: #E3F7FB;

  }
}

#browse_by_toggle_links {
	width: 220px;
	text-transform: uppercase;
	text-align: left;
	font-size: 14px;
	line-height: 30px;
	letter-spacing: .1em;
	padding-top: 7px;
	padding-left: 2px;
	padding-bottom: 3px;
	color: #333;
  margin-top: 3px;
  margin-left: -2px;

  a {
	  color: #333;
	  border: 1px solid #858585;
	  padding: 3px;
	  margin-right: 5px;
	  background-color: lightyellow;
	  border-radius: 3px;
	}

	a:hover {
  	color: #fffffc;
  	background-color: #858585;
  	border: 1px solid #333;
	}
}

#center-container {
	display: inline-block;
	background-color: #fff;	
  width: 100%;
}

.product_like {
  margin-top: 35px;
}

.like_count {
  margin-top: 38px;
  margin-right: 8px;
  font-size: 14px;
}

#header {
	height: 80px;
	padding-left: 9px;
	padding-right: 30px;
	padding-top: 5px;
	padding-bottom: 15px;
	text-transform: uppercase;
	position: relative;
	text-align: left;
	background-color: rgba(163, 230, 245, 0.3);
	font-size: 12px;
	letter-spacing: .1em;

  img#logo {
    height: 80px;
    padding-top: 5px;
    padding-left: 2px;  }

  a:hover {
//    font-weight: bold;
  	color: #9F5F9F;
  }

}

#login_loved_cart {
  float: left;
  margin-top: -100px;
  margin-left: 1010px;
}

#loved_items_button {
  text-transform: lowercase;
  letter-spacing: .06em;
  padding-left: 4px;
  padding-right: 6px;
  margin-top: 1px;
  margin-right: 42px;
}

#company_name {
	text-transform: uppercase;
	text-align: left;
	font-size: 38px;
	font-weight: bold;
	letter-spacing: .1em;
	margin-bottom: -12px;
}

#trademark_symbol { 
	font-size: 16px;
	letter-spacing: .1em;
	margin-top: -27px;
  margin-left: 300px;
}

#site_search {
  float: right;
  margin-top: -42px;
}

.search_bar {
	float: right;
	margin-top: -28px;
}

#search_button {
	text-align: center;
	padding: 2px;
	text-transform: uppercase;
	font-size: 12px;
	font-weight: bold;
}

#search_box {
	width: 151px;
}

#query {
 height: 20px;
 font-size: 14px;
 width: 220px;
 margin-left: -22px;
 letter-spacing: .1em;
 border: 1px solid #DCD9DD;
box-shadow: 0px .6px 7px 0px rgba(79, 47, 79, 0.1);
-moz-box-shadow: 0px .6px 7px 0px rgba(79, 47, 79, 0.1);
-webkit-box-shadow: 0px .6px 7px 0px rgba(79, 47, 79, 0.1);
}

#magnifying_glass {
  width: 28px;
  float: right;
}

#footer {
	margin-top: 9px;
  margin-bottom: 15px;
	color: #6c6c6c;
	font-size: 10px;
	line-height: 13px;
	text-align: left;
  margin-left: 10px;
	letter-spacing: .1em;
}

a#business_login {
	font-size: 9px;
	color: #C7C5C7;
}

#brand-name {
	position: absolute;
	text-align: center;
	width: 200px;
	left: 50%;
	margin-left: -100px;
	font-size: 38px;
}

#signature {
  color: black;
  padding-top: 90px;
}

#anniversary-caption {
	position: absolute;
	margin-left: 41%;
	margin-top: -2px;
	text-transform: lowercase;
	font-size: 13px;
}

.content_nav_background {
	height: 36px;
  padding-top: 10px;
	line-height: 19px;
	font-size: 15px;
	background-color: rgba(163, 230, 245, 0.3);
	vertical-align: middle;
	box-shadow: 0px .6px 7px 0px rgba(79, 47, 79, 0.1);
	-moz-box-shadow: 0px .6px 7px 0px rgba(79, 47, 79, 0.1);
	-webkit-box-shadow: 0px .6px 7px 0px rgba(79, 47, 79, 0.1);
  text-align: left;
  padding-left: 10px;
  margin-top: 20px;

	a {
	color: #858585;
	}
	a:hover {
		font-weight: bold;
		color: #4F2F4F;
	}
}

#caption-middle {
  width: 50%;
  display: inline-block;
	text-transform: none;
	letter-spacing: .05em;
	font-style: italic;
}

a#sign_in_link {
    margin-left: 950px;
    float: left;
    margin-top: -100px;
    font-weight: 600; 
    font-size: 16px;
}

#homepage_holder {
  width: 100%;
  vertical-align: top;
  position: relative;
  text-align: left;
  padding-left: 15px;
}

#homepage_news {
  display: inline-block;
  margin-left: -168px;
  margin-top: -28px;
}

#news_title {
	text-align: left;
	font-size: 14px;
	font-weight: bold;
	line-height: 24px;
 	border-top-left-radius: 3px;
 	border-top-right-radius: 3px;
 	background-color: #DFDADF;
 	text-transform: uppercase;
 	color: #303030;
 	padding-left: 5px;
 	letter-spacing: .2em;
 	width: 746px;
 	margin-left: 428px;
	box-shadow: 0px .6px 7px 0px rgba(79, 47, 79, 0.1);
	-moz-box-shadow: 0px .6px 7px 0px rgba(79, 47, 79, 0.1);
	-webkit-box-shadow: 0px .6px 7px 0px rgba(79, 47, 79, 0.1);
	padding: 3px;
}

#most_popular_title {
	text-align: left;
	font-size: 14px;
	line-height: 24px;
 	border: 1px solid #858585;
 	border-top-left-radius: 3px;
 	border-top-right-radius: 3px;
 	background-color: #DFDADF;
 	text-transform: uppercase;
 	color: #4F2F4F;
 	padding-left: 5px;
 	letter-spacing: .2em;
 	width: 303px;
  margin-top: 10px;
 	margin-left: 4px;
  float: left;
}

.content_page_body {
  max-width: 90%;
  font-size: 16px;
  
  a {
    font-size: 16px;
    font-weight: bold;
  }
  
  a:hover {
    text-decoration: underline;
  }
}

#blog_link {
  display: inline-block;
  background-color: #DCC3E0;
  border: 1px solid #858585;
  border-radius: 3px;
  margin-bottom: 5px;
  text-align: center;
  padding-top: 10px;
  width: 200px;
  margin-left: 20px;
  margin-top: 12px;
  margin-right: 15px;
  height: 30px;

  a {
    font-size: 16px;
    color: #000;
    letter-spacing: .1em;
    font-weight: bold;
  }
}

#create_with_us_link {
  display: inline-block;
  background-color: #3BB4B4;
  border: 1px solid #858585;
  border-radius: 3px;
  margin-bottom: 5px;
  text-align: center;
  padding-top: 10px;
  width: 200px;
  margin-top: -48px;
  height: 30px;
  margin-left: -598px;
  margin-right: 15px;

  a {
    font-size: 16px;
    color: #000;
    letter-spacing: .1em;
    font-weight: bold;
  }
}

#customer_upload_button {
  display: inline-block;
  font-size: 16px;
  font-weight: bold;
  line-height: 36px;
  border: 1px solid #333333;
  border-radius: 3px;
  background-color: #CC93C9;
  letter-spacing: .1em;
  color: #000;
  width: 200px;
  height: 40px;
  margin-top: -48px;
  text-align: center;
}

#homepage_rightside {
	position: absolute;
	width: 700px;
}
.category.carousel {
  margin-bottom: 0px;
}

.category .carousel {
  margin-bottom: 0px;
}

#homepage_interactive_buttons_title {
  text-transform: uppercase;
  padding: 5px;
  margin-bottom: -13px;
  letter-spacing: .2em;
  text-align: left;
  margin-left: 10px;
  font-size: 14px;

}

#homepage_interactive_buttons {
  padding-top: 20px;
  width: 100%;
  padding-bottom: 30px;
	box-shadow: 0px .6px 7px 0px rgba(79, 47, 79, 0.1);
	-moz-box-shadow: 0px .6px 7px 0px rgba(79, 47, 79, 0.1);
	-webkit-box-shadow: 0px .6px 7px 0px rgba(79, 47, 79, 0.1);
  background-color: #FDFDFD;
  text-align: left;
}

#shop_by_color_title {
  text-transform: uppercase;
  padding: 5px;
  margin-bottom: -13px;
  letter-spacing: .2em;
  text-align: left;
  margin-left: 10px;
  font-size: 12px;
}

#shop_by_color {
  height: 100px;
  margin-bottom: 30px;
	box-shadow: 0px .6px 7px 0px rgba(79, 47, 79, 0.1);
	-moz-box-shadow: 0px .6px 7px 0px rgba(79, 47, 79, 0.1);
	-webkit-box-shadow: 0px .6px 7px 0px rgba(79, 47, 79, 0.1);
  background-color: #FDFDFD;
}

#shop_by_style_title {
  text-transform: uppercase;
  padding: 5px;
  margin-bottom: -13px;
  letter-spacing: .2em;  text-align: left;
  margin-left: 10px;
  font-size: 12px;
  padding-bottom: 15px;
}

#shop_by_style {
  height: 195px;
  margin-bottom: 30px;
	box-shadow: 0px .6px 7px 0px rgba(79, 47, 79, 0.1);
	-moz-box-shadow: 0px .6px 7px 0px rgba(79, 47, 79, 0.1);
	-webkit-box-shadow: 0px .6px 7px 0px rgba(79, 47, 79, 0.1);
  background-color: #FDFDFD;
  overflow-x: scroll;
}
    
#shop_by_design_title {
  text-transform: uppercase;
  padding: 5px;
  margin-bottom: -3px;
  letter-spacing: .2em;  text-align: left;
  margin-left: 10px;
  font-size: 12px;
}

#shop_by_design {
  height: 198px;
  margin-bottom: 30px;
	box-shadow: 0px .6px 7px 0px rgba(79, 47, 79, 0.1);
	-moz-box-shadow: 0px .6px 7px 0px rgba(79, 47, 79, 0.1);
	-webkit-box-shadow: 0px .6px 7px 0px rgba(79, 47, 79, 0.1);
  background-color: #FDFDFD;
  overflow-x: scroll;
  overflow-y: hidden;
}  
      
#browse_sale_items_title {
  text-transform: uppercase;
  padding: 5px;
  margin-bottom: -3px;
  letter-spacing: .2em;
  text-align: left;
  margin-left: 10px;
  font-size: 12px;
}

#browse_sale_items {
  height: 265px;
  margin-bottom: 30px;
	box-shadow: 0px .6px 7px 0px rgba(79, 47, 79, 0.1);
	-moz-box-shadow: 0px .6px 7px 0px rgba(79, 47, 79, 0.1);
	-webkit-box-shadow: 0px .6px 7px 0px rgba(79, 47, 79, 0.1);
  background-color: #FDFDFD;
  
  .stack {
    display: inline-block;
  }
}
    
#homepage_banners {
  display: inline-block;
  width: 1300px;
  height: 750px;
  margin-bottom: 10px;
  position: relative;
}

#square_banners {
  width: 91.75%;
  height: 370px;
  margin-bottom: 30px;
}

.pause_button {
  position: absolute;
  border: 1px solid #999;
  border-radius: 3px;
  width: 22px;
  height: 22px;
  margin-left: 10px;
  bottom: 10px;
  
  background-color: rgba(255, 255, 255, 0.45);
  
  img {
    alpha: 0.75;
  }
}

#square_banner1, #square_banner2, #square_banner3 {
  position: absolute;
  width: 350px;
  height: 350px;
	border-radius: 3px;
	box-shadow: 0px .6px 7px 0px rgba(79, 47, 79, 0.1);
	-moz-box-shadow: 0px .6px 7px 0px rgba(79, 47, 79, 0.1);
	-webkit-box-shadow: 0px .6px 7px 0px rgba(79, 47, 79, 0.1);
	padding: 5px;
  
  .carousel-inner {
    
    .item {
      
      img {
        width: 350px;
      }
    }
  }
}

#square_banner1 {
  left: 15px;
}

#square_banner2 {
  left: 420px;
}

#square_banner3 {
  left: 830px;
}

#small_features {
	max-height: 250px;
	width: 502px;
}

#featured_items_banner1 {
  position: absolute;
  top: 11px;
  left: 0px;
	width: 90%;
	height: auto;
	border-radius: 3px;
	box-shadow: 0px .6px 7px 0px rgba(79, 47, 79, 0.1);
	-moz-box-shadow: 0px .6px 7px 0px rgba(79, 47, 79, 0.1);
	-webkit-box-shadow: 0px .6px 7px 0px rgba(79, 47, 79, 0.1);
	padding: 5px;
  
  img {
    width: 100%;
    height: auto;
  }
  
}

#display_filtered_navigation_toggle {
  font-size: 13px;
  font-weight: bold;
}

#filtered_search {
  position: absolute;
  z-index: 2;
  left: -230px;
  width: 220px;
  padding-top: 11px;
  box-shadow: 0px 2px 9px 1px rgba(79, 47, 79, 0.1);
	-moz-box-shadow: 0px 2px 9px 1px rgba(79, 47, 79, 0.1);
	-webkit-box-shadow: 0px 2px 9px 1px rgba(79, 47, 79, 0.1);
	padding: 5px;
  padding-left: 10px;
  background-color: #fff4f7;
  
  label {
    display: inline-block;
    text-transform: none;
    letter-spacing: .05em;
    font-size: 14px;
	
  	a {
      color: #fff0fc;
    }

    a:hover {
    	font-weight: bold;
    	color: #FFc;
    }
  }
  
  .filter_instructions {
    margin-top: 35px;
    margin-bottom: 6px;
    font-weight: bold;
    border-bottom: 1px solid #959595;
  }
 
  .filter_subset {
	  border-top: 1px solid #D8D4D4;
	  border-bottom: 1px solid #D8D4D4;
	  margin: 1px;
	  font-size: 12px;
	  text-transform: lowercase;
  }
  
  .filter_criterion.color_filter {
    width: 19px;
    height: 19px;
  	margin: 2px;
    border-radius: 10px;
    
    input {
      display: none;
    }
  }
  
  .filter_criterion.color_filter.color_selected {
    border: 1px solid #b7b7b7;
  }
}

#filtered_search_results {
  margin-left: 235px;
  width: 800px;
  
  .filter_search_result {
  	display: inline-block;
    border-radius: 3px;
    margin-right: 10px;
    margin-top: 23px;
    width: 230px;
    height: 275px;
    box-shadow: 0px 2px 9px 1px rgba(79, 47, 79, 0.1);
    -moz-box-shadow: 0px 2px 9px 1px rgba(79, 47, 79, 0.1);
    -webkit-box-shadow: 0px 2px 9px 1px rgba(79, 47, 79, 0.1);
    padding: 3px;
  
    img {
      margin-top: 2px;
  	  width: 220px;
  	  height: auto;
    }
  }
}

#product_color_filter_title {
    font-size: 11px;
    border-top: 1px solid #858585;
    margin-top: 10px;
	 text-align: left;
     height: 40px;
     padding: 1px;
     padding-top: 2px;
     line-height: 18px;
     background: #f4edf9;
}

#featured_items_banner3 {
  position: absolute;
  right: -199px;
  bottom: 0px;
	width: 296px;
	height: 200px;
	border: 1px solid #858585;
	border-radius: 3px;
}

.label_for_category {
	font-size: 16px;
	line-height: 17px;
	text-align: center;
	border-top: 1px solid #858585;
	border-bottom: 1px solid #202020;
	letter-spacing: .1em;

		a {
	color: #fff0fc;
	}

	a:hover {
		font-weight: bold;
		color: #FFc;
	}

}

#product-categories {
	display: inline-block;
	.category {
	  height: 179px;
      width: 128px;
	  border: 1px solid #858585;
	  border-radius: 3px;
	  float: left;
	  margin-top: 4px;
	  margin-left: 1px;
	  margin-bottom: 1px;
	  margin-right: 2px;
	  margin-left: 1px;
		.label_for_category {
			position: relative;
			top: 163px;
			height: 17px;
			padding-left: 2px;
			border-top: 1px solid #858585;
			border-bottom: 1px solid #858585;
			border-bottom-right-radius: 3px;
			border-bottom-left-radius: 3px;
		    background-color: #A849A3;
			text-transform: lowercase;
			text-color: #FFF0F5;
			text-align: center;
			z-index: 2;
				
				a {
				text-transform: uppercase;
				letter-spacing: .2em;
				}

				a:hover {
				text-transform: uppercase;
				font-weight: bold;
				}

		}

		img {
			position: relative;
			top: -19px;
		}
	}
	#featured {
	  width: 408px;
	  .label_for_category {
	  	background-color: rgba(250, 250, 190, 0);
		}
	}
}

#news_bulletins {
  display: inline-block;
	max-height: 249px;
	overflow-y: scroll;
	text-align: left;
	padding-left: 10px;
	margin-right: 10px;
 	border-bottom-right-radius: 3px;
 	border-bottom-left-radius: 3px;
	background-color: #fff;
	width: 742px;
	margin-left: 427px;
	box-shadow: 0px 2px 9px 1px rgba(79, 47, 79, 0.1);
	-moz-box-shadow: 0px 2px 9px 1px rgba(79, 47, 79, 0.1);
	-webkit-box-shadow: 0px 2px 9px 1px rgba(79, 47, 79, 0.1);
	padding: 5px;
	
	.bulletin {
    position: relative;
		padding-right: 10px;
		font-size: 12px;
    
    p {
      font-size: 12px;
    }

		header {
			font-size: 14px;
			padding-top: 10px;
			text-transform: uppercase;
		}
    
    .bulletin_like_count {
      position: absolute;
      right: 2px;
      bottom: 0px;
    }
	}
}

.full_size_bulletin_image {
  display: none;
}

#bottom_nav {
	text-transform: lowercase;
	letter-spacing: .1em;
	background-color: #E4EDEF;
  border-bottom: 1px solid #E0E0E0;
	font-size: 10px;
	line-height: 16px;
	text-align: left;
	padding-right: 3px;
	padding-bottom: 2px;
  padding-top: 4px;
  height: 21px;
	box-shadow: 0px 2px 9px 1px rgba(79, 47, 79, 0.1);
	-moz-box-shadow: 0px 2px 9px 1px rgba(79, 47, 79, 0.1);
	-webkit-box-shadow: 0px 2px 9px 1px rgba(79, 47, 79, 0.1);
  padding-left: 10px;

	a {
	color: #4F2F4F;
	}

	a:hover {
	color: #333;
	font-weight: bold;
	}
}
.sign_in_header {
	text-transform: uppercase;
	font-size: 22px;
	font-weight: bold;
	margin-top: 20px;
	letter-spacing: .1em;
	margin-bottom: 5px;
}

#social-media-buttons {
  height: 25px;
  display: inline-block;
  margin-left: 400px;
  margin-bottom: -5px;
}

a#google-plus-link {
  color: #7D4478;
  margin-top: 4px;
  font-size: 1.8em;
  font-weight: bold;
  letter-spacing: -.02em;
}

#photo_uploader_hider {
  display: none;
}

#photo_uploader {
  text-align: center;
  padding: 10px;
  
  #photo_coupon_offer {
    margin-bottom: 5px;
    font-size: 14px;
    #uploader_log_in {
      text-decoration: underline;
    }
  }
  
  #photo_call_to_action {
    font-size: 20px;
    font-weight: bold;
    color: #861299;
    padding-bottom: 10px;
  }
  
  #banner_image {
    line-height: 18px;
    width: 204px;
    margin-top: 5px;
    margin-bottom: 5px;
  }
  
  #banner_caption {
    height: 100px;
  }
}
#upload_and_grant {
  margin: 3px;
}
#photo_upload_terms {
  font-size: 13px;
  text-align: left;
  display: none;
  width: 465px;
  padding: 5px;
  text-align: justify;

  li {
    font-size: 12px;
    width: 400px;
    text-align: justify;
    margin-top:3px;
  }
}
