// Place all the styles related to the inventories controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

#background-holder {
	height: 100%;
	width: 100%;
	background-image: url('splatterBG.jpg');
}

#center-container {
	width: 768px;
	border: 1px solid #706B79;
}

#header {
	height: 45px;
	margin: 9px;
}

#navigation {
	
}

#banner {
	width: 691px;
	height: 222px;
	border: 1px solid black;
}

#product-categories {
	.category {
		height: 149px;
		width: 122px;
		border: 2px solid #999;
		float: left;
		margin: 4px;
	}
}

#news-bulletins {
	
}
