// Place all the styles related to the inventories controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

#customer {
	width: 1426px;
	margin-top: -10px;
	padding-top: 10px;
//  background-image: url('splatterBG.jpg');
}

#background-holder {
	text-align: center;
	background-color: rgba(235, 205, 230, 0.5);
	padding-bottom: 50px;

	a {
		text-decoration: none;
		font-size: 12px;
		color: #858585;	
		}
	a:hover {
		color: #333;
	}
}

#middle_caption_line1 {
	color: #4F2F4F;
	font-size: 12px;
	letter-spacing: .15em;

}

#browse_by_toggle_links {
	text-transform: uppercase;
	text-align: left;
	font-size: 11px;
	line-height: 20px;
	letter-spacing: .1em;
	background: #FFE990;
	padding-top: 3px;
	padding-left: 10px;
	padding-bottom: 2px;
	color: #333;
	border-bottom: 1px solid #858585;
  overflow: none;

  a {
	  color: #333;
	  border: 1px solid #858585;
	  padding: 3px;
	  margin-right: 5px;
	  background-color: lightyellow;
	  border-radius: 3px;
	}

	a:hover {
  	color: #fffffc;
  	background-color: #858585;
  	border: 1px solid #333;
	}
}

#center-container {
	display: inline-block;
	width: 940px;
	border-top: 0px solid #858585;
	border-right: 1px solid #858585;
	border-left: 1px solid #858585;
	border-bottom: 1px solid #858585;
	border-radius: 2px;
	padding-bottom: 15px;
	background-color: rgba(255, 255, 255, 0.5);
	box-shadow: 0px 2px 9px 3px rgba(79, 47, 79, 0.4);
	-moz-box-shadow: 0px 2px 9px 3px rgba(79, 47, 79, 0.4);
	-webkit-box-shadow: 0px 2px 9px 3px rgba(79, 47, 79, 0.4);
}

#header {
	height: 74px;
	padding-left: 9px;
	padding-right: 9px;
	padding-top: 5px;
	padding-bottom: 10px;
	text-transform: uppercase;
	position: relative;
	text-align: left;
	background-color: rgba(250, 250, 190, 0.5);
	font-size: 12px;
	letter-spacing: .1em;

  a:hover {
//    font-weight: bold;
  	color: #9F5F9F;
  }

}

.search_bar {
	float: right;
	margin-top: -28px;
}

#search_button {
	text-align: center;
	padding: 2px;
	text-transform: uppercase;
	font-size: 12px;
	font-weight: bold;
}

#search_box {
	width: 151px;
}

#query {
  height: 11px;
  font-size: 12px;
  width: 175px;
  margin-right: 4px;
  margin-top: -9px;
}

#magnifying_glass {
  width: 22px;
  margin-left: -35px;
  margin-top: -2px;
}

#footer {
	margin-top: 4px;
	color: #6c6c6c;
	font-size: 10px;
	line-height: 11px;
	text-align: center;
	letter-spacing: .1em;
}

a#business_login {
	font-size: 9px;
	color: #C7C5C7;
}

#brand-name {
	position: absolute;
	text-align: center;
	width: 200px;
	left: 50%;
	margin-left: -100px;
	font-size: 38px;
}

#signature {
  color: black;
  padding-top: 90px;
}

#anniversary-caption {
	position: absolute;
	margin-left: 41%;
	margin-top: -2px;
	text-transform: lowercase;
	font-size: 13px;
}

.content_nav_background {
	line-height: 19px;
	font-size: 15px;
	margin-top: 12px;
	margin-bottom: 2px;

	a {
	color: #858585;
	}
	a:hover {
		font-weight: bold;
		color: #4F2F4F;
	}
}

#caption-middle {
	padding-top: 30px;
	padding-right: 18px;
	text-align: center;
	text-transform: none;
	letter-spacing: .05em;
	font-style: italic;
}

#homepage_holder {
  vertical-align: top;
  position: relative;
}

#homepage_news {
  display: inline-block;
  margin-left: -186px;
}

#news_title {
	text-align: left;
	font-size: 14px;
	line-height: 24px;
 	border: 1px solid #858585;
 	border-top-left-radius: 3px;
 	border-top-right-radius: 3px;
 	background-color: #DFDADF;
 	text-transform: uppercase;
 	color: #4F2F4F;
 	padding-left: 5px;
 	letter-spacing: .2em;
 	width: 303px;
 	margin-left: -12px;
}

#most_popular_title {
	text-align: left;
	font-size: 14px;
	line-height: 24px;
 	border: 1px solid #858585;
 	border-top-left-radius: 3px;
 	border-top-right-radius: 3px;
 	background-color: #DFDADF;
 	text-transform: uppercase;
 	color: #4F2F4F;
 	padding-left: 5px;
 	letter-spacing: .2em;
 	width: 303px;
  margin-top: 10px;
 	margin-left: 4px;
  float: left;
}

#customer_upload_button {
	font-size: 14px;
	line-height: 24px;
 	border: 1px solid #858585;
 	border-top-left-radius: 3px;
 	border-top-right-radius: 3px;
 	background-color: #DFDADF;
 	text-transform: uppercase;
 	color: #4F2F4F;
 	padding-left: 5px;
 	letter-spacing: .2em;
 	width: 303px;
  margin-top: 10px;
  margin-right: 7px;
  float: right;
}

.category.carousel {
  margin-bottom: 0px;
}

.category .carousel {
  margin-bottom: 0px;
}

#homepage_banners {
  display: inline-block;
  width: 400px;
  height: 532px;
  position: relative;
}

#square_banners {
  position: relative;
  height: 228px;
}

.pause_button {
  position: absolute;
  border: 1px solid black;
  width: 22px;
  height: 22px;
  margin-left: 10px;
  bottom: 10px;
  
  background-color: rgba(255, 255, 255, 0.45);
  
  img {
    alpha: 0.75;
  }
}

#square_banner1 {
  position: absolute;
  left: 9px;
  top: 6px;
	height: 222px;
	width: 222px;
	border: 1px solid #858585;
	border-radius: 3px;
}

#square_banner2 {
  position: absolute;
  top: 6px;
  left: 242px;
	height: 222px;
	width: 222px;
	border: 1px solid #858585;
	border-radius: 3px;
}

#square_banner3 {
  position: absolute;
  top: 6px;
  left: 475px;
	height: 222px;
	width: 222px;
	border: 1px solid #858585;
	border-radius: 3px;
}

#square_banner4 {
  position: absolute;
  top: 6px;
  left: 708px;
	height: 222px;
	width: 222px;
	border: 1px solid #858585;
	border-radius: 3px;
}

#small_features {
	max-height: 250px;
	width: 502px;
}

#featured_items_banner1 {
  position: absolute;
  top: 8px;
  left: -5px;
	width: 601px;
	height: 523px;
	border: 1px solid #858585;
	border-radius: 3px;
}

#featured_items_banner2 {
  position: absolute;
  bottom: 10px;
	width: 308px;
	height: 308px;
  left: 9px;
	top: 8px;
	border: 1px solid #858585;
	border-radius: 3px;
}

#featured_items_banner3 {
  position: absolute;
  right: -199px;
  bottom: 0px;
	width: 296px;
	height: 200px;
	border: 1px solid #858585;
	border-radius: 3px;
}

.label_for_category {
	font-size: 16px;
	line-height: 17px;
	text-align: center;
	border-top: 1px solid #858585;
	border-bottom: 1px solid #202020;
	letter-spacing: .1em;

		a {
	color: #fff0fc;
	}

	a:hover {
		font-weight: bold;
		color: #FFc;
	}

}

#product-categories {
	display: inline-block;
	.category {
	  height: 179px;
      width: 128px;
	  border: 1px solid #858585;
	  border-radius: 3px;
	  float: left;
	  margin-top: 4px;
	  margin-left: 1px;
	  margin-bottom: 1px;
	  margin-right: 2px;
	  margin-left: 1px;
		.label_for_category {
			position: relative;
			top: 163px;
			height: 17px;
			padding-left: 2px;
			border-top: 1px solid #858585;
			border-bottom: 1px solid #858585;
			border-bottom-right-radius: 3px;
			border-bottom-left-radius: 3px;
		    background-color: #A849A3;
			text-transform: lowercase;
			text-color: #FFF0F5;
			text-align: center;
			z-index: 2;
				
				a {
				text-transform: uppercase;
				letter-spacing: .2em;
				}

				a:hover {
				text-transform: uppercase;
				font-weight: bold;
				}

		}

		img {
			position: relative;
			top: -19px;
		}
	}
	#featured {
	  width: 408px;
	  .label_for_category {
	  	background-color: rgba(250, 250, 190, 0);
		}
	}
}

#news_bulletins {
  display: inline-block;
  font-family: Helvetica;
	max-height: 180px;
	overflow-y: scroll;
	text-align: left;
	padding-left: 10px;
	margin-right: 10px;
 	border: 1px solid #858585;
 	border-bottom-right-radius: 3px;
 	border-bottom-left-radius: 3px;
	background-color: #fff;
	width: 298px;
	margin-left: -12px;
	
	.bulletin {
    position: relative;
		padding-right: 10px;
		font-size: 12px;
    
    p {
      font-size: 12px;
    }

		header {
			font-size: 14px;
			padding-top: 10px;
			text-transform: uppercase;
		}
    
    .bulletin_like_count {
      position: absolute;
      right: 2px;
      bottom: 0px;
    }
	}
}

.full_size_bulletin_image {
  display: none;
}

#bottom_nav {
	border-top: 1px solid #858585;
	border-bottom: 1px solid #858585;
	text-transform: lowercase;
	letter-spacing: .1em;
	background-color: rgba(250, 250, 190, 0.5);
	font-size: 10px;
	line-height: 15px;
	text-align: center;
	padding-right: 3px;
	padding-bottom: 2px;
	padding-top: 2px;

	a {
	color: #4F2F4F;
	}

	a:hover {
	color: #333;
	font-weight: bold;
	}
}
.sign_in_header {
	text-transform: uppercase;
	font-size: 22px;
	font-weight: bold;
	margin-top: 20px;
	letter-spacing: .1em;
	margin-bottom: 5px;
}

#site_search {
  float: right;
  height: 20px;
  width: 200px;
}

#social-media-buttons {
  margin-top: -10px;
	margin-left: 0px;
}

a#google-plus-link {
  color: #7D4478;
  margin-top: 2px;
  font-size: 2.1em;
  font-weight: bold;
  letter-spacing: -.02em;
}

#photo_uploader_hider {
  display: none;
}

#photo_uploader {
  text-align: center;
  padding: 10px;
  
  #photo_coupon_offer {
    #uploader_log_in {
      text-decoration: underline;
    }
  }
  
  #photo_call_to_action {
    font-size: 1.3em;
    font-style: italic;
    color: #861299;
    padding-bottom: 12px;
  }
  
  #banner_image {
    line-height: 18px;
    width: 204px;
  }
  
  #banner_caption {
    height: 100px;
  }
}

#photo_upload_terms {
  text-align: left;
  display: none;
  width: 340px;
  padding: 5px;
}
