// Place all the styles related to the links controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.homepage_link {
  display: inline-block;
  position: center;
  padding-right: 20px;
  font-weight: bold;
  letter-spacing: .15em;
}
