// Place all the styles related to the products controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

#product_detail_left {
	float: left;
	margin-top: 3px;
	margin-left: 5px;
	width: 418px;
}

#breadcrumb_nav {
  font-size: 10px;
  font-color: #cacaca;
  max-width: 490px;
  margin-left: -10px;
  margin-top: 5px;
  
  a:hover {
    font-weight: bold;
    color: #000;
  }
}

#wholesale_link {
 	margin-top: 5px;
  float: left;
  margin-left: 542px;
}
img.heart {
  width: 19px;
  padding-right: 1px;
}

#product_detail_right {
  float: left;
  width: 450px;
  margin-top: 10px;
  margin-left: 66px;
	font-size: 14px;
	
  input {
		float: right;
		padding: 5px;
		margin-left: 10px;
		font-size: 0.7em;
		font-weight: bold;
		text-transform: uppercase;
		text-align: center;
		border-radius: 3px;
		background-color: #fff0f5;
  	box-shadow: 0px .6px 7px 0px rgba(79, 47, 79, 0.1);
  	-moz-box-shadow: 0px .6px 7px 0px rgba(79, 47, 79, 0.1);
  	-webkit-box-shadow: 0px .6px 7px 0px rgba(79, 47, 79, 0.1);
  }
		
	#design_enlargement_title {
	  margin-left: 3px;
	  width: 290px;
    border-top-right-radius: 0px;	
    border-top-left-radius: 0px;
    border-bottom: 2px solid #858585;
    text-align: left;
   	text-transform: lowercase;
		background-color: #f7fdff;
		font-size: 12px;
		height: 18px;
		padding-top: 2px;
		letter-spacing: .1em;
  }
  
  .product_detail_pick {
    display: inline-block;
  }

	.colors_for_product {
		display: inline-block;
    width: 310px;
    margin-left: 22px;
    margin-top: 12px;
		text-align: left;
		font-size: 16px;
		letter-spacing: .1em;
		line-height: 16px;
		text-transform: lowercase;
		border-bottom-right-radius: 0px;
    border-bottom-left-radius: 0px;	
    border-top-right-radius: 3px;	
    border-top-left-radius: 3px;
    background-color: #fff;	

		.color_option {
      padding: 2px;
      padding-right: 5px;
      display: inline-block;
      
      label {
        width: 38px;
        height: 20px;
        border-radius: 30px;
        border: 1px solid black;
        padding-top: 20px;
      }
      
      .color_selected {
        border: 3px solid #454545;
      }
      
      input {
        display: none;
      }
		}
		
		#color_out_of_stock {
      display: none;
      position: absolute;
      border-radius: 5px;
      padding: 2px;
      background-color: white;
      text-transform: none;
		}
		
		label {
		  display: inline-block;
		  margin-bottom: 0px;
		  line-height: 16px;
		  font-size: 11px;
		  letter-spacing: .1em;
		}
	}
	
	.sizes_for_product {
		display: inline-block;
    width: 310px;
    margin-top:12px;
    margin-left: 20px;
    margin-bottom: 12px;
		line-height: 16px;
		border-bottom-right-radius: 0px;	
    border-bottom-left-radius: 0px;	
    border-top-right-radius: 3px;	
    border-top-left-radius: 3px;	
   	background-color: #fff;
    text-align: left;
    
		.size_option {
		  padding: 2px;
      display: inline-block;
      
      label {
        font-size: 13px;
        line-height: 20px;
        font-weight: bold;
        text-transform: uppercase;
        text-align: center;
        vertical-align: center;
        min-width: 40px;
        height: 32px;
        padding-top: 10px;
        border-radius: 3px;
        border: 1px solid black;
      	box-shadow: 0px 2px 9px 1px rgba(79, 47, 79, 0.1);
      	-moz-box-shadow: 0px 2px 9px 1px rgba(79, 47, 79, 0.1);
      	-webkit-box-shadow: 0px 2px 9px 1px rgba(79, 47, 79, 0.1);
      }
      
      .size_selected {
        border: 2px solid #454545;
      }
      
      input {
        display: none;
      }
	  }
        
		label {
      margin-bottom: 0px;
		  display: inline-block;
		  line-height: 16px;
		  font-size: 11px;
		  letter-spacing: .1em;
		}
		
		#size_out_of_stock {
      display: none;
      position: absolute;
      border-radius: 5px;
      padding: 2px;
      background-color: white;
      text-transform: none;
		}
	}
	
	.graytitle {
	  height: 20px;
	  border-left: 1px solid #858585;
	  border-right: 1px solid #858585;
	  border-top: 0px;
	  border-bottom: 1px solid #858585;
	  border-bottom-right-radius: 3px;	
	  border-bottom-left-radius: 3px;	
	  border-top-right-radius: 0px;	
	  border-top-left-radius: 0px;	

    text-align: left;
    padding-left: 5px;
    text-transform: uppercase;
    background-color: rgb(181, 181, 181);
	}
}

.body_style_list {
  text-align: center;
  display: inline-block;
	top: -271px;
	text-shadow: -1px 2px white;
	text-transform: uppercase;

  a:hover {
    font-weight: bold;
  }
}


.primary_product_image {
  height: 535px;
  width: 535px;
  padding: 2px;
  margin-top: 7px;
  margin-left: 10px;
	border-bottom-right-radius: 3px;	
	border-bottom-left-radius: 3px;	
	border-top-right-radius: 3px;	
	border-top-left-radius: 3px;
	box-shadow: 0px 2px 9px 3px rgba(79, 47, 79, 0.05);
	-moz-box-shadow: 0px 2px 9px 3px rgba(79, 47, 79, 0.05);
	-webkit-box-shadow: 0px 2px 9px 3px rgba(79, 47, 79, 0.05);
  border: 1px solid #EDEDED;
	
#product_detail_right {
  margin-left: 580px;
  width: 530px;
  margin-top: -400px;
}  
.product_name {
		text-align: left;
		line-height: 28px;
		font-size: 20px;
    font-weight: bold;
		letter-spacing: .1em;
		padding-left: 5px;
    margin-left: 525px;
    width:530px;
		border-bottom: 1px solid #858585;
		border-top-right-radius: 0px;
		border-top-left-radius: 0px;
	
		span.price {
			float: right;
		}
	}
}

#product_bottom_line {
	text-align: left;
	border-bottom-right-radius: 3px;
  border-bottom-left-radius: 3px;	
  border-top-right-radius: 0px;	
  border-top-left-radius: 0px;	
  padding: 5px;
  line-height: 22px;
  height: 60px;
	font-size: 14px;
  font-color: #666;
	width: 530px;
  margin-left: 80px;
	letter-spacing: .1em;
	background-color: #f7fdff;
  padding-top: 5px;
	box-shadow: 0px 2px 9px 3px rgba(79, 47, 79, 0.05);
	-moz-box-shadow: 0px 2px 9px 3px rgba(79, 47, 79, 0.05);
	-webkit-box-shadow: 0px 2px 9px 3px rgba(79, 47, 79, 0.05);
  border: 1px solid #EDEDED;
  
	#product_quantity {
		width: 20px;
		height: 10px;
		margin-right: 2px;
		text-align: center;
		padding-bottom: 4px;
		margin-top: 1px;
	  font-size: 13px;
	  color: #333;
	  letter-spacing: .1em;
	}
  #product_name {
    text-weight: bold;
    font-size: 18px;
    font-color: #666;
  }
}

#likes_of_product_101 {
  font-size: 14px;
}
.similar_products {
  width: 100%;
  margin-top: 6px;
  margin-left: 15px;
  margin-bottom: 15px;
  height: 190px;
  padding: 2px;
	border-radius: 3px;
	background: #fff;
	img {
    margin-left: 1px;
  	width: 154px;
  	height: 154px;
		border-radius: 3px;
    border: solid 5px white;
		margin : 5px;
  	background: #fff;
  	box-shadow: 0px 2px 9px 3px rgba(79, 47, 79, 0.2);
  	-moz-box-shadow: 0px 2px 9px 3px rgba(79, 47, 79, 0.2);
  	-webkit-box-shadow: 0px 2px 9px 3px rgba(79, 47, 79, 0.2);
  }
  overflow-x: scroll;
}

#similar_title {
//  width: 100%;
  margin-top: 0px;
	text-align: left;
	font-size: 18px;
  height: 40px;
	line-height: 32px;
	letter-spacing: .1em;
	padding-left: 15px;
	padding-right: 5px;
	padding-top: 2px;
	border-top-right-radius: 0px;
	border-top-left-radius: 0px;
	background-color: #f7fdff;
}

#bodystyles_also_available_title {
  width: 100%;
  margin-top: 10px;
	text-align: left;
	font-size: 18px;
  height: 40px;
	line-height: 32px;
	letter-spacing: .1em;
	padding-left: 15px;
	padding-right: 5px;
	padding-top: 2px;
	border-top-right-radius: 0px;
	border-top-left-radius: 0px;
	background-color: #f7fdff;
}

#additional_colors_title {
  width: 100%;
  margin-top: 10px;
	text-align: left;
	font-size: 18px;
  height: 40px;
	line-height: 32px;
	letter-spacing: .1em;
	padding-left: 15px;
	padding-right: 5px;
	padding-top: 2px;
	border-top-right-radius: 0px;
	border-top-left-radius: 0px;
	background-color: #f7fdff;
}

.stack {
  position: relative;
}

li.similar_item {  
  span.like_count {
    position: absolute;
    right: 30px;
    font-size: 10px; 
  }
  
  img.heart {
    width: 16px;
    height: 16px;
    border: none;
    position: absolute;
    right: 2px;
    background: none;
  }
}

.product_artwork_enlargement {
    height: 120px;
    max-width: 120px;
    margin-top: 3px;
    margin-right: 3px;
    margin-left: 4px;
	border-bottom-right-radius: 0px;
 	border-bottom-left-radius: 0px;	
 	border-top-right-radius: 3px;	
 	border-top-left-radius: 3px;	
	box-shadow: 0px 2px 9px 3px rgba(79, 47, 79, 0.05);
	-moz-box-shadow: 0px 2px 9px 3px rgba(79, 47, 79, 0.05);
	-webkit-box-shadow: 0px 2px 9px 3px rgba(79, 47, 79, 0.05);
}
.photo_on_model {
	height: 125px;
  max-width: 125px;
  margin-right: 5px;
	border-bottom-right-radius: 0px;
 	border-bottom-left-radius: 0px;	
 	border-top-right-radius: 3px;	
 	border-top-left-radius: 3px;	
	box-shadow: 0px 2px 9px 3px rgba(79, 47, 79, 0.05);
	-moz-box-shadow: 0px 2px 9px 3px rgba(79, 47, 79, 0.05);
	-webkit-box-shadow: 0px 2px 9px 3px rgba(79, 47, 79, 0.05);
}

#also_available_title {
  border-top-right-radius: 3px;
  border-top-left-radius: 3px;
  text-align: left;
  font-size: 18px;
  height: 40px;
  line-height: 22px;
  letter-spacing: .1em;
  margin-top: 50px;
  background-color: #f7fdff;
  width: 100%;
  padding-left: 15px;
}

#body_styles_for_design {
  text-align: left;
  font-size: 12px;
  letter-spacing: .1em;
  width: 100%;
  height: 215px;
  overflow-y: scroll;
  overflow-x: scroll;
  margin-right: 5px;
  margin-bottom: 30px;
  margin-left: 20px;
  padding: 2px;
  border-top-right-radius: 0px;
  border-top-left-radius: 0px;
  border-bottom-left-radius: 3px;
  border-bottom-right-radius: 3px;
  line-height: 15px;

  a {
    color: #666;
  }

  a:hover {
    font-weight: bold;
    color: #000;
  }
  
	img {
    margin-left: 1px;
  	width: 154px;
  	height: 154px;
		border-radius: 3px;
    border: solid 5px white;
		margin : 5px;
  	background: #fff;
  	box-shadow: 0px 2px 9px 3px rgba(79, 47, 79, 0.2);
  	-moz-box-shadow: 0px 2px 9px 3px rgba(79, 47, 79, 0.2);
  	-webkit-box-shadow: 0px 2px 9px 3px rgba(79, 47, 79, 0.2);
  }
  overflow-x: scroll;
}

#colors_for_design {
  text-align: left;
  font-size: 12px;
  letter-spacing: .1em;
  width: 100%;
  height: 195px;
  overflow-y: scroll;
  overflow-x: scroll;
  margin-right: 5px;
  margin-left: 20px;
  margin-bottom: 30px;
  padding: 2px;
  border-top-right-radius: 0px;
  border-top-left-radius: 0px;
  border-bottom-left-radius: 3px;
  border-bottom-right-radius: 3px;
  line-height: 15px;

  a {
    color: #666;
  }

  a:hover {
    font-weight: bold;
    color: #000;
  }
img {
  margin-left: 1px;
	width: 154px;
	height: 154px;
	border-radius: 3px;
  border: solid 5px white;
	margin : 5px;
	background: #fff;
	box-shadow: 0px 2px 9px 3px rgba(79, 47, 79, 0.2);
	-moz-box-shadow: 0px 2px 9px 3px rgba(79, 47, 79, 0.2);
	-webkit-box-shadow: 0px 2px 9px 3px rgba(79, 47, 79, 0.2);
}
  
}

#customer_feedback_title {
  border-top-right-radius: 3px;
  border-top-left-radius: 3px;
  text-align: left;
  font-size: 18px;
  height: 40px;
  line-height: 22px;
  letter-spacing: .1em;
  margin-top: 50px;
  background-color: #f7fdff;
  width: 1060px;
  margin-left: 50px;
  padding-left: 2px;
}
#product_feedback #comment_message {
  width: 1060px;
  height: 125px;
  font-size: 14px;
  line-height: 16px;
  margin-left: 50px;
  padding-bottom: 3px;
  float: left;
	box-shadow: 0px 2px 9px 3px rgba(79, 47, 79, 0.05);
	-moz-box-shadow: 0px 2px 9px 3px rgba(79, 47, 79, 0.05);
	-webkit-box-shadow: 0px 2px 9px 3px rgba(79, 47, 79, 0.05);
}

#customer_comments {
	text-align: left;
	margin-left: 500px;
	padding-top: 5px;
	letter-spacing: .1em;
}


.blackborder {
	border-top: 1px solid #858585;
	border-left: 1px solid #858585;
	border-right: 1px solid #858585;
}

.purpleborder {
	border-top: 1px solid #A849A3;
	border-left: 1px solid #A849A3;
	border-right: 1px solid #A849A3;
}

.greyborder {
	border-top: 1px solid #858585;
	border-left: 1px solid #858585;
	border-right: 1px solid #858585;
	border-bottom: 2px solid #858585;
}


/* admin */

.product_image_admin {
  display: inline-block;
  width: 90px;
}

#product_admin_image {
  float: right;
}


#product_logistical_display {
  width: 530px;
  height: 90px;
  border-radius: 3px;
  margin-top: -24px;
  margin-bottom: 2px;
  margin-left: 80px;
	float: left;
	background-color: #fff;
	font-size: 12px;
	letter-spacing: .05em;
  line-height: 14px;
  text-align: justify;
	text-align: left;
	padding: 5px;
  padding-top: 40px;
	box-shadow: 0px 2px 9px 3px rgba(79, 47, 79, 0.05);
	-moz-box-shadow: 0px 2px 9px 3px rgba(79, 47, 79, 0.05);
	-webkit-box-shadow: 0px 2px 9px 3px rgba(79, 47, 79, 0.05);
  border: 1px solid #ededed;
  
  #product_copy_link {
    margin-top: -33px;
    margin-left: 4px;
    padding-bottom: 3px;

    
    a:hover {
      font-weight: bold;
    }
    
  }
  
  #product_copy {
    padding-top: 5px;
    margin-left: 4px;
    margin-right: 5px;
    font-weight: 600;
    border-top: 1px solid #C6C6C6;
  }
  
  #size_chart,
  #shipping_information,
  #returns_information {
    display: none;
  }
  
}

.thumbnails_for_enlargement {
  width: 530px;
  height: 126px;
  border-radius: 3px;
  margin-top: 15px;
  margin-left: 80px;
	float: left;
	background-color: #fff;
	font-size: 12px;
	letter-spacing: .1em;
	text-align: left;
	padding: 5px;
	box-shadow: 0px 2px 9px 3px rgba(79, 47, 79, 0.05);
	-moz-box-shadow: 0px 2px 9px 3px rgba(79, 47, 79, 0.05);
	-webkit-box-shadow: 0px 2px 9px 3px rgba(79, 47, 79, 0.05);
  border: 1px solid #EDEDED;
  
  img {
    max-height: 120px;
    max-width: 120px;
  }
  
  a {
    display: inline-block;
  }
}

.tagged_banner_enlargement {
  display: none;
}

#product_details {
  	width: 500px;
}

.product_options_buttons {
  float: right;
  text-align: right;
  width: 208px;
  margin-right: -166px;
  margin-top: -140px;
}	

input.product_actions {
	border-radius: 3px;
	text-align: center;
	font-weight: bold;
	width: 207px;
	height: 35px;
	margin-left: 1px;
	margin-bottom: 2px;

  a {
	  color: #858585;
  }

  a:hover {
	  color: #000000;
  }
}

.share_buttons {
  height: 49px;
  width: 199px;
  margin-right: -218px;
  float: right;
  margin-top: 10px;
  padding-left: 5px;
  a {
    margin-right: 0px;
  }
}

#size_id {
  text-align: left;
  font-size: 12px;
  font-style: italic;
  margin-left: 20px;
  margin-bottom: 20px;
}

#size_chart_link {
  padding: 3px;
  width: 100px;
  margin-left: 220px;
  text-align: center;
  line-height: 16px;
  font-size: 12px;
 
  a {
    margin-top: -10px;
    color: #858585;
  }
  
 a:hover {
   font-weight: bold;
 }
}

#shipping_info {
  font-size: 12px;
  padding: 3px;
  margin-left: 371px;
  text-align: center;
  line-height: 16px;
  width: 100px;
  margin-top: -22px;

  a:hover {
    font-weight: bold;
  };
}

#returns_info {
  font-size: 12px;
  text-align: center;
  line-height: 16px;
  margin-left: 515px;
  padding: 3px;
  background-color: #cac;
  width: 100px;
  margin-top: -22px;

  a:hover {
    font-weight: bold;
  };
}
input#add_to_cart {
	padding: 3px;
	background-color: #5CDE5C;
	border-radius: 3px;
  height: 45px;
  font-size: 16px;
  margin-right: -5px;
  margin-bottom: 15px;
	box-shadow: 0px 2px 9px 3px rgba(79, 47, 79, 0.05);
	-moz-box-shadow: 0px 2px 9px 3px rgba(79, 47, 79, 0.05);
	-webkit-box-shadow: 0px 2px 9px 3px rgba(79, 47, 79, 0.05);
}

input#add_to_wishlist {
	padding: 3px;
	margin-bottom: 0px;
  margin-right: -5px;
	background-color: #ffc;
  height: 45px;
  font-size: 16px;
	box-shadow: 0px 2px 9px 3px rgba(79, 47, 79, 0.05);
	-moz-box-shadow: 0px 2px 9px 3px rgba(79, 47, 79, 0.05);
	-webkit-box-shadow: 0px 2px 9px 3px rgba(79, 47, 79, 0.05);
}

#email_to_friend {
	padding: 3px;
	margin-bottom: 3px;
	background-color: #F793F2;
	margin-bottom: 3px;
}

.mailinglist_signup {
  display: inline-block;
  margin-right: 57px;
}

#sign_mailing_list {
  background: #ffe981;
  border: 1px solid #858585;
  border-radius: 3px;
  text-align: center;
  padding-left: 7px;
  width: 200px;
  height: 42px;
  margin-top: 1px;
  letter-spacing: .1em;
}

#add_your_story {
	text-align: right;
	margin-left: 759px;
	height: 28px;
	width: 171px;
	background-color: #ffc;
	text-align: center;
	font-size: 14px;
	font-weight: bold;
	padding-left: 7px;
	border-radius: 3px;
}

.buttons_products {
	height: 35px;
	width: 150px;
	background-color: #ffc;
}

#wholesale link {
  text-align: right;
}
#product_info {
  margin-top: -17px;
  width: 490px;
  font-weight: 600;
  font-size: 13px;
  color: #807F7F;
  
  a:hover {
    font-weight: bold;
  }
}
