// Place all the styles related to the products controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

#product_detail_left {
	float: left;
	margin-top: 3px;
	margin-left: 5px;
	width: 418px;
}

img.heart {
  width: 19px;
  padding-right: 1px;
}

#product_detail_right {
	float: left;
	width: 300px;
	margin-top: 3px;
	text-transform: uppercase;
	font-size: 14px;
	input {
		float: right;
		padding: 5px;
		margin-left: 10px;
		font-size: 0.7em;
		font-weight: bold;
		text-transform: uppercase;
		text-align: center;
		border: 1px solid #858585;
		border-radius: 3px;
		border-bottom: 2px solid #858585;
		background-color: #fff0f5;
  }
	
	.body_style_list {
	  text-align: right;
		position: relative;
		top: -271px;
		text-shadow: -1px 2px white;
		text-transform: uppercase;
	}
	
	#design_enlargement_title {
	  margin-left: 3px;
	  width: 290px;
    border-top-right-radius: 0px;	
    border-top-left-radius: 0px;
    border-bottom: 2px solid #858585;
    text-align: left;
   	text-transform: lowercase;
		background-color: #FFF0F5;
		font-size: 12px;
		height: 18px;
		padding-top: 2px;
		letter-spacing: .1em;
  }
  
  .product_detail_pick {
    display: inline-block;
  }

	.colors_for_product {
		display: inline-block;
		min-height: 174px;
		width: 142px;
		margin-top: 4px;
		margin-left: 3px;
		text-align: left;
		font-size: 16px;
		letter-spacing: .1em;
		line-height: 16px;
		text-transform: lowercase;
		border-bottom-right-radius: 0px;
    border-bottom-left-radius: 0px;	
    border-top-right-radius: 3px;	
    border-top-left-radius: 3px;
    background-color: #fff;	

		.color_option {
      padding: 2px;
		}
		
		#color_out_of_stock {
      display: none;
      position: absolute;
      border: 1px solid black;
      border-radius: 5px;
      padding: 2px;
      background-color: white;
      text-transform: none;
		}
		
		label {
		  display: inline-block;
		  margin-bottom: 0px;
		  line-height: 16px;
		  font-size: 11px;
		  letter-spacing: .1em;
		}
	}
	
	#product_color_title {
    width: 140px;
    margin-left: 3px;
    border-bottom: 2px solid #858585;
    border-top: 1px solid #858585;
    text-align: center;
    text-transform: lowercase;
		background-color: #FFF0F5;
		font-size: 12px;
		height: 18px;
		padding-top: 2px;
		letter-spacing: .1em;
		padding-top: 0px;
		padding-right: 0px;
		padding-left: 2px;
		padding-bottom: 2px;
	}
	
	.sizes_for_product {
		display: inline-block;
		min-height: 174px;
		width: 142px;
		margin-top: 4px;
		margin-left: 3px;
		text-align: left;
		line-height: 16px;
		font-size: 16px;
		text-transform: lowercase;
		border-bottom: 1px solid #858585;
    border-bottom-right-radius: 0px;	
    border-bottom-left-radius: 0px;	
    border-top-right-radius: 3px;	
    border-top-left-radius: 3px;	
   	background-color: #fff;

		.size_option {
		  padding: 2px;
	  }
		label {
      margin-bottom: 0px;
		  display: inline-block;
		  line-height: 16px;
		  font-size: 11px;
		  letter-spacing: .1em;
		}
		
		#size_out_of_stock {
      display: none;
      position: absolute;
      border: 1px solid black;
      border-radius: 5px;
      padding: 2px;
      background-color: white;
      text-transform: none;
		}
	}
	
	#product_sizes_title {
	  width: 140px;
	  margin-left: 3px;
	  margin-bottom: 3px;
	  border-bottom: 2px solid #858585;
	  text-align: center;
 	  text-transform: lowercase;
	  background-color: #a849a3;
	  font-size: 12px;
	  letter-spacing: .1em;
	  height: 18px;
	  padding-top: 2px;
	  background-color: #FFF0F5;
	  padding-top: 0px;
	  padding-right: 0px;
	  padding-left: 2px;
	  padding-bottom: 2px;
	}
	
	.graytitle {
	  height: 20px;
	  border-left: 1px solid #858585;
	  border-right: 1px solid #858585;
	  border-top: 0px;
	  border-bottom: 1px solid #858585;
	  border-bottom-right-radius: 3px;	
	  border-bottom-left-radius: 3px;	
	  border-top-right-radius: 0px;	
	  border-top-left-radius: 0px;	

    text-align: left;
    padding-left: 5px;
    text-transform: uppercase;
    background-color: rgb(181, 181, 181);
	}
}

.primary_product_image {
	height: 436px;
	width: 414px;
	border-bottom: 1px solid #858585;
	border-bottom-right-radius: 0px;	
	border-bottom-left-radius: px;	
	border-top-right-radius: 3px;	
	border-top-left-radius: 3px;
	
	.product_name {
		text-align: left;
		line-height: 22px;
		font-size: 13px;
		letter-spacing: .1em;
		padding-left: 5px;
		background-color: #FFF0F5;
		border-bottom: 1px solid #858585;
		border-top-right-radius: 0px;
		border-top-left-radius: 0px;
	
		span.price {
			float: right;
		}
	}
}

#product_bottom_line {
	border-top: 1px solid #858585;
	border-bottom: 2px solid #858585;
	border-left: 1px solid #858585;
	border-right: 1px solid #858585;
	text-align: right;
	border-bottom-right-radius: 3px;
  border-bottom-left-radius: 3px;	
  border-top-right-radius: 0px;	
  border-top-left-radius: 0px;	
  padding-right: 5px;
  line-height: 22px;
  height: 22px;
	font-size: 14px;
	width: 409px;
	letter-spacing: .1em;
	background-color: #FFF0F5;
	
	#product_quantity {
		width: 20px;
		height: 10px;
		margin-right: 2px;
		text-align: center;
		padding-bottom: 4px;
<<<<<<< HEAD
		margin-top: 1px;
	  font-size: 13px;
	  color: #333;
	  letter-spacing: .1em;
	  font-family: BenchNine;
	}
}

.similar_products {
	width: 414px;
	margin-top: 3px;
	margin-bottom: 15px;
	height: 120px;
	border-bottom: 1px solid #858585;
	border-radius: 3px;
	background: #fff;
	img {
  	width: 98px;
  	height: 98px;
  	border: solid 1px #858585;
		border-radius: 3px;
		margin-top: 3px;
  	background: #fff;
  }
  overflow-x: scroll;
}

#similar_title {
	width: 404px;
	margin-top: -16px;
	text-align: left;
	font-size: 13px;
	line-height: 22px;
	letter-spacing: .1em;
	padding-left: 5px;
	padding-right: 5px;
	padding-top: 2px;
	border-left: 1px solid #858585;
	border-right: 1px solid #858585;
	border-top: 0px;
	border-bottom: 2px solid #858585;
	border-top-right-radius: 0px;
	border-top-left-radius: 0px;
	border-bottom-left-radius: 3px;
	border-bottom-right-radius: 3px;
	background-color: #FFF0F5;
}

.stack {
  position: relative;
}

li.similar_item {  
  span.like_count {
    position: absolute;
    right: 20px;
    font-size: 10px;
  }
  
  img.heart {
    width: 16px;
    height: 16px;
    border: none;
    position: absolute;
    right: 2px;
    background: none;
  }
}

.product_artwork_enlargement {
	height: 339px;
	margin-left: 3px;
	position: center;
	border-bottom: 1px solid #858585;
	border-bottom-right-radius: 0px;
 	border-bottom-left-radius: 0px;	
 	border-top-right-radius: 3px;	
 	border-top-left-radius: 3px;	

  .design_title {
  	border-bottom: solid 1px #858585;
  	line-height: 22px;
		font-size: 13px;
		letter-spacing: .1em;
		background-color: #FFF0F5;
	 	text-transform: none;
	 	border-top-right-radius: 0px;
		border-top-left-radius: 0px;
		text-align: left; 
		padding-left: 5px;

 	  a:hover {
 	    font-weight: bold;
 	    color: #000;
 	  }
 	}
}

#also_available_title {
	border-top: 1px solid #858585;
	border-left: 1px solid #858585;
	border-right: 1px solid #858585;
	border-bottom: 0px;
	border-top-right-radius: 3px;
	border-top-left-radius: 3px;
	border-bottom-left-radius: 0px;
	border-bottom-right-radius: 0px;
	line-height: 22px;
	margin-top: 3px;
	background-color: #FFF0F5;
	font-size: 13px;
	letter-spacing: .025em;
	width: 203px;
	margin-right: 5px;
	float: right;
	text-align: left;
	padding-left: 2px;
}

#body_styles_for_design {
	text-align: left;
 	font-size: 10px;
	letter-spacing: .1em;
	background-color: #fff05c;
	width: 201px;
	height: 334px;
  overflow-y: scroll;
	float: right;
	margin-right: 5px;
	padding: 2px;
	border: 1px solid #858585;
	border-bottom: 2px solid #858585;
	border-top-right-radius: 0px;
	border-top-left-radius: 0px;
	border-bottom-left-radius: 3px;
	border-bottom-right-radius: 3px;
	line-height: 15px;

  a {
    color: #666;
  }

  a:hover {
    font-weight: bold;
    color: #000;
  }
}

#product_feedback #comment_message {
	width: 495px;
	height: 125px;
	margin-top: -40px;
	margin-right: 5px;
	margin-left: 2px;
	border-bottom: 2px solid #858585;
	padding-bottom: 3px;
	float: right;
	border-color: #858585;
}

#customer_comments {
	text-align: left;
	margin-left: 440px;
	padding-top: 5px;
	letter-spacing: .1em;
}


.blackborder {
	border-top: 1px solid #858585;
	border-left: 1px solid #858585;
	border-right: 1px solid #858585;
}

.purpleborder {
	border-top: 1px solid #A849A3;
	border-left: 1px solid #A849A3;
	border-right: 1px solid #A849A3;
}

.greyborder {
	border-top: 1px solid #858585;
	border-left: 1px solid #858585;
	border-right: 1px solid #858585;
	border-bottom: 2px solid #858585;
}


/* admin */

.product_image_admin {
  display: inline-block;
  width: 90px;
}


.product_copy {
	width: 405px;
	height: 77px;
	border: 1px solid #858585;
	border-bottom: 2px solid #858585;
	border-radius: 3px;
	margin-top: 5px;
	margin-left: 5px;
	float: left;
	background-color: #fff;
	font-size: 12px;
	letter-spacing: .1em;
	text-align: left;
	padding: 5px;
}

#product_details {
  	width: 500px;
}

.product_options_buttons {
	float: right;
	text-align: left;
	width: 208px;
	margin-top: -245px;
	margin-right: 5px;
}	

input.product_actions {
	border-radius: 3px;
	text-align: center;
	font-weight: bold;
	width: 207px;
	height: 35px;
	margin-left: 1px;
	margin-bottom: 2px;

  a {
	  color: #858585;
  }

  a:hover {
	  color: #000000;
  }
}

.share_buttons {
	height: 29px;
	width: 199px;
	background: white;
  font-size: 11px;
	border: 1px solid #858585;
	margin-bottom: 4px;
	margin-left: 1px;
	text-align: center;
	padding-top: 6px;
	padding-left: 5px;
	border-radius: 3px;
	border-bottom: 2px solid #858585;
	border-right: 2px solid #858585;
}

#add_to_cart {
	padding: 3px;
	background-color: #5CDE5C;
	border-radius: 3px;
}

#add_to_wishlist {
	padding: 3px;
	margin-bottom: 5px;
	margin-top: 3px;
	background-color: #ffc;
}

#email_to_friend {
	padding: 3px;
	margin-bottom: 3px;
	background-color: #F793F2;
	margin-bottom: 3px;
}

#sign_mailing_list {
	float: left;
	background: #fff05C;
	border: 1px solid #858585;
	border-radius: 3px;
	margin-bottom: 5px;
	border-bottom: 2px solid #858585;
	border-right: 2px solid #858585;
	text-align: center;
	padding-left: 7px;
}

#add_your_story {
	text-align: right;
	margin-left: 724px;
	height: 35px;
	width: 190px;
	background-color: #ffc;
	text-align: center;
	font-weight: bold;
	padding-left: 7px;
	border-radius: 3px;
}

.buttons_products {
	height: 35px;
	width: 150px;
	background-color: #ffc;
}
