.wholesale_account_links {
  margin-top: 20px;
  margin-bottom: 20px;
  margin-left: 20px;
  div {
    display: inline-block;
    margin-right: 20px;
  }
  a {
    font-weight: bold;
  }

}

#history_wholesale_orders_path {
}

#designs_wholesale_orders_path {}

#styles_wholesale_orders_path {}

#cart_wholesale_orders_path {}

#wholesale_account_landing_message {
  min-height: 500px;
  margin-left: 20px;
  max-width: 700px;
  line-height: 22px;
}