// Place all the styles related to the shipping_addresses controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.customer_shipping_address .shipping_address {
	display: inline-block;
	margin-left: 20px;
	margin-top: 10px;
}