#background-holder {
  
  section.wishlist {
    header {
      margin: 5px;
      font-size: 18px;
      text-transform: uppercase;
      }

    item {
      img.primary {
        width: 150px;
      }
      
      .wishlist_logistics {
        display: inline-block;
      
        a {
          font-size: 18px;
        }
      
        img.heart {
          width: 19px;
          border: 0px;
        }
        
        div.similar_products {
          width: 743px;
        }
      }
    }
  }
}
  #wishlist_similar_items {
    margin-top: 50px;
  }
  
  #wishlist_similar_items_title {
    width: 100%;
    margin-top: 70px;
    color: #fff;
    height: 40px;
    line-height: 32px;
    letter-spacing: .1em;
    padding-left: 20px;
    padding-top: 6px;
    margin-bottom: 40px;
    text-align: left;
    background: #01b2ba;
    font-weight: bold;
  }