#background-holder {
  
  section.wishlist {
    header {
      margin: 25px;
      font-size: 3em;
    }
  
    item {
      img.primary {
        width: 150px;
      }
      
      .wishlist_logistics {
        display: inline-block;
      
        a {
          font-size: 18px;
        }
      
        img.heart {
          width: 20px;
        }
        
        div.similar_products {
          width: 750px;
        }
      }
    }
  }
}