#background-holder {
  
  section.wishlist {
    header {
      margin: 5px;
      font-size: 18px;
      text-transform: uppercase;
      }

    item {
      img.primary {
        width: 150px;
      }
      
      .wishlist_logistics {
        display: inline-block;
      
        a {
          font-size: 18px;
        }
      
        img.heart {
          width: 19px;
          border: 0px;
        }
        
        div.similar_products {
          width: 743px;
        }
      }
    }
  }
}
  #wishlist_similar_items {
    margin-top: 50px;
  }