<% @product.colors.alphabetical.in_groups_of(4, false).each do |color_group| %>
  <div class="color_group">
    <% color_group.each do |color| %>
      <%= link_to choose_landing_color_product_path(@product, :color_id => color.id), :method => :put do %>
        <div class="color_grid">
          <%= color.name %>
          <div style="width:100px;height:15px;background-color:#<%= color.css_hex_code %>;" class="swatch"></div>
        </div>
      <% end %>
    <% end %>
  </div>
<% end %>
