<div class="category_of_products">
  <div class="filtered search side bar" id="filtered_search">
    <div class="filtered_navigation" id="filtered_navigation">
		  <div class="filtered_navigation_title" id="filtered_navigation_title">Refine by:</div>
      <%= filtered_navigation_system %>
    </div>
  </div>
  <% @product_colors.each do |product_color| %>
    <%= product_display_box product_color, :product_box %>
  <% end %>
</div>
<%= top_level_browser %>
